@import "assets/styles/base/base.scss";

tr:hover {

    .inactive {
        cursor: none;
    }
    .active {
        cursor: pointer;
        background-color: #e2f1ff;
    }
}

.inputCheckBox {
  cursor: pointer;
}

.publish-state {

  i {
    vertical-align: top;
  }

  color: #fff;
  background: #003368;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 25px;
  font-size: .85rem;
  font-weight: 600;
  text-transform: uppercase;
}
.inactive {
    opacity: 40%;
}
