.form-control {
  border-color: var(--fc-border-color);
  background: var(--fc-bg);
  font-size: 0.9375rem;
}

.form-control:focus {
  border-color: var(--fc-focus-border-color);
}

input.form-control {
  height: var(--fc-height);
}

input[type="text"],
input[type="email"],
input[type="number"] {
  height: var(--fc-height);
  padding: 0.75rem;
  box-shadow: var(--fc-inner-shadow) inset;
}

input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder,
textarea::placeholder {
  color: var(--fc-placeholder-color);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

select.form-control:not([size], [multiple]) {
  height: var(--fc-height);
  padding: 0 0.5rem;
}

textarea {
  resize: vertical;
  box-shadow: var(--fc-inner-shadow) inset;
}

.control-label {
  vertical-align: middle;
}

.control-label em {
  font-size: 0.875rem;
  vertical-align: top;
}

fieldset + fieldset {
  margin-top: 2.5rem;
  padding-top: 2rem;
  border-top: 1px solid #ddd;
}

legend {
  float: left;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

label {
  font-size: 0.875rem;
}

/* Input Group  */
.input-group-append .btn-icon {
  border-color: #ccc;
}

/* Validation */
.invalid-feedback {
  position: relative;
  margin-top: 0.75rem;
  padding: 0.5rem 1rem;
  font-weight: 600;
  color: #fff;
}

.invalid-feedback::after {
  content: ' ';
  position: absolute;
  top: -1rem;
  left: 1rem;
  width: 1rem;
  height: 1rem;
  border-right: 0.5rem solid transparent;
  border-bottom: 0.5rem solid #dc3545;
  border-left: 0.5rem solid transparent;
}

.is-invalid ~ .invalid-feedback {
  display: inline-block;
}

.form-control.is-invalid {
  border-color: #dc3545;
}

.input-group.is-invalid .form-control {
  border-color: #dc3545;
}

.input-group.is-invalid .input-group-append .btn-icon {
  border-color: #dc3545;
}