th {
  text-align: left;
  flex: 1;
}

td {
  text-align: left;
  flex: 1;
}

.table {
  width: 100%;
  table-layout: fixed;
}

.table tr {
  align-items: center;
  display: flex;
}

.table td {
  overflow: hidden;
}

.table thead {
  background: var(--table-header-bg);
  border-bottom: 2px solid var(--white);
}

.table thead tr {
  background: #e8eff5;
  align-items: flex-start;
}

.table thead th {
  padding: 0.5rem;
  border-bottom: 3px solid var(--lightgray);
  vertical-align: middle;
  text-shadow: none;
  font-size: 0.875rem;
  font-weight: 600;
}

.table thead th.sortable {
  transition: border-color ease-out 0.2s;
  cursor: pointer;
  user-select: none;
}

.table thead th.sortable:hover {
  border-bottom-color: var(--table-header-sort-active);
}

.table thead th.sortable.sort-asc,
.table thead th.sortable.sort-desc {
  color: #007bff;
  border-bottom-color: #007bff;
  background: transparent;
  text-shadow: none;
}

.table tbody td {
  padding: 0.6rem 0.15rem;
  vertical-align: top;
  border-top: none;
}

.table+pagination-template {
  margin-top: 1rem;
}

.table tr:nth-child(even) {
  background: #f5f9fd;
}

@media (width <=600px) {
  .table {
    border: 0;
  }

  .table tr {
    display: block;
    margin-bottom: 20px;
    border-bottom: 2px solid #003367;
    padding-bottom: 12px;
  }

  .table thead tr {
    display: flex;
    flex-wrap: wrap;
    border-bottom: none;
  }

  .table thead::before {
    content: 'Sort by:';
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3px;
    display: block;
  }

  .table tbody td {
    border-bottom: 1px solid #ddd;
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 34px;
  }

  .table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
    padding-right: 10px;
  }

  .table td:last-child {
    border-bottom: 0;
  }

  .table thead th.sortable {
    transition: border-color ease-out 0.2s;
    cursor: pointer;
    flex: 50%;
    user-select: none;
    max-width: 50%;
    border-color: #fff;
  }
}

table .status-container {
  text-align: right;
}