<tr (click)="selectItem(contact)"
  *ngFor="let contact of contacts">
  <td scope="row" data-label="Name" [style.width]="!useSmallTable && columns[0].width">{{contact.displayName || '-'}}</td>
  <td scope="row" data-label="Organization" [style.width]="!useSmallTable && columns[0].width">{{contact.orgName || '-'}}</td>
  <td scope="row" data-label="Email" [style.width]="!useSmallTable && columns[0].width">{{contact.email || '-'}}</td>
  <td scope="row" data-label="PhoneNumber" [style.width]="!useSmallTable && columns[0].width">{{contact.phoneNumber || '-'}}</td>
</tr>
