<header class="app-header app-header--solid" id="header">
  <nav class="navbar navbar-expand-md justify-content-between">
    <a class="navbar-brand" title="EPIC" [routerLink]="['/']">
      <span class="navbar-brand__title">EPIC</span>
    </a>
    <div *ngIf="showBanner" class="env-banner" [ngClass]="bannerColour">
      This is the&nbsp;<strong>{{envName}}</strong>&nbsp;environment. The content you are viewing is not final and
      subject to change.
    </div>
    <button class="navbar-toggler" type="button" title="Toggle Main Navigation" data-toggle="collapse"
      data-target="#mainNav" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"
      (click)="toggleNav()">
      <i class="material-icons">menu</i>
      <span>MENU</span>
    </button>
    <div class="navbar-collapse" [@toggleNav]="isNavMenuOpen ? 'navOpen' : 'navClosed'" id="mainNav">
      <ul class="navbar-nav">
        <li *ngIf="jwt" class="nav-item">
          <div class="btn-group">
            <a class="nav-link" id="search" [routerLink]="['/']" title="Search" tabindex="0">
              <span class="align-middle"><i class="material-icons">search</i></span>
              <span class="align-middle d-inline-block d-md-none d-xxl-inline-block">Search</span>
            </a>
          </div>
        </li>
        <li *ngIf="jwt" class="nav-item">
          <a class="nav-link" (click)="openCalculator()" title="Open Calculator" tabindex="0">
            <span class="align-middle"><i class="material-icons">dialpad</i></span>
            <span class="align-middle d-inline-block d-md-none d-xxl-inline-block">Calculator</span>
          </a>
        </li>
        <li *ngIf="jwt" class="nav-item">
          <a class="nav-link" href="https://eaofider.pathfinder.gov.bc.ca/" target="_blank" rel="noopener noreferrer"
            title="Leave Feedback" tabindex="0">
            <span class="align-middle"><i class="material-icons">feedback</i></span>
          </a>
        </li>
        <!-- LOGGED IN -->
        <li *ngIf="jwt; else loggedOut" class="nav-item" placement="bottom-right">
          <a class="nav-link" id="welcome" tabindex="0">
            <span class="align-middle"><i class="material-icons">person</i></span>
            <span class="align-middle d-inline-block d-md-none d-xxl-inline-block">{{welcomeMsg}}</span>
          </a>
        </li>

        <!-- LOGGED OUT -->
        <ng-template #loggedOut>
          <!-- Placeholder? -->
        </ng-template>
      </ul>
    </div>
  </nav>
</header>