@if (loading) {
  <div class="spinner-container">
    <div class="spinner-new rotating"></div>
  </div>
}

<section id="header-section">
  <div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <h3 class="filter-title">FILTER RESULTS:</h3>
      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary" [class.active]="filter.pending">
          <input type="checkbox" style="display: none;" (click)="togglePending()" autocomplete="off">Pending
        </label>
      </div>
      &nbsp;
      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary" [class.active]="filter.published">
          <input type="checkbox" style="display: none;" (click)="togglePublished()" autocomplete="off">Published
        </label>
      </div>
      &nbsp;
      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary" [class.active]="filter.deferred">
          <input type="checkbox" style="display: none;" (click)="toggleDeferred()" autocomplete="off">Deferred
        </label>
      </div>
      &nbsp;
      <div class="btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-primary" [class.active]="filter.rejected">
          <input type="checkbox" style="display: none;" (click)="toggleRejected()" autocomplete="off">Rejected
        </label>
      </div>
    </div>
  </div>
  @if (tableParams.totalListItems > 0 && !loading) {
    <div class="result-num">
      Displaying <strong>{{tableParams.totalListItems > tableParams.pageSize ? (tableParams.pageSize * tableParams.currentPage - (tableParams.pageSize - 1)) + '-' + (tableParams.pageSize * tableParams.currentPage) + ' of ' : ''}}{{tableParams.totalListItems}}</strong> Comments
    </div>
  }
</section>

<section id="table-section">
  @if (tableParams.totalListItems > 0 && !loading) {
    <div>
      <app-table-template [columns]="commentTableColumns" [data]="commentTableData" (onColumnSort)='setColumnSort($event)'
        (onPageNumUpdate)='getPaginatedComments($event)'>
      </app-table-template>
    </div>
  }
  @if (tableParams.totalListItems == 0) {
    <div>
      There are no comments.
    </div>
  }
</section>
