<tr *ngFor="let contact of contacts"
    class="clickable-row">
    <td scope="row" data-label="Name" [style.width]="!useSmallTable && columns[0].width">{{contact.displayName || '-'}}</td>
    <td scope="row" data-label="Organization" [style.width]="!useSmallTable && columns[1].width">{{contact?.org?.name || '-' }}</td>
    <td scope="row" data-label="Phone" [style.width]="!useSmallTable && columns[2].width">{{contact.phoneNumber || '-'}}</td>
    <td scope="row" data-label="Email" [style.width]="!useSmallTable && columns[3].width">{{contact.email || '-'}}</td>
    <td class="clickable" data-label="Event" scope="row" [style.width]="!useSmallTable && columns[4].width">
        <i (click)="editItem(contact)" class="material-icons">
            edit
        </i>
    </td>
</tr>
