@for (document of documents; track document) {
  <tr
    class="clickable-row">
    <td data-label="Select" (click)="selectItem(document)" scope="row" [style.width]="!useSmallTable && columns[0].width">
      <input type="checkbox" aria-label="Checkbox for row item" [(ngModel)]='document.checkbox'>
    </td>
    <td data-label="Name" (click)="selectItem(document)" scope="row" [style.width]="!useSmallTable && columns[1].width">{{document.displayName}}</td>
    <td data-label="Date" (click)="selectItem(document)" scope="row" [style.width]="!useSmallTable && columns[2].width">{{document.datePosted | date:'longDate'}}
    </td>
    <td data-label="Type" (click)="selectItem(document)" scope="row" [style.width]="!useSmallTable && columns[3].width">{{document.type | listConverter}}</td>
    <td data-label="Milestone" (click)="selectItem(document)" scope="row" [style.width]="!useSmallTable && columns[4].width">
    {{document.milestone | listConverter}}</td>
  </tr>
}
