<nav *ngIf="!loading" class="action-container" aria-label="breadcrumb">
  <div *ngIf="isAdd">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">
        <a [routerLink]="['/project-notifications']">All Project Notifications</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Add Project Notifications
      </li>
    </ol>
  </div>
  <div *ngIf="!isAdd">
    <ol class="breadcrumb">
      <li class="breadcrumb-item" aria-current="page">
        <a [routerLink]="['/project-notifications']">All Project Notifications</a>
      </li>
      <li class="breadcrumb-item" aria-current="page">
        <a
          [routerLink]="['/pn', projectNotification._id, 'details']">{{projectNotification.name}}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        Edit
      </li>
    </ol>
  </div>
</nav>

<main class="container-fluid-padding add-edit-form">
  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>
  <form *ngIf="myForm" [formGroup]="myForm">
    <h2 *ngIf="!isEditing">Add Project Notification</h2>
    <h2 *ngIf="isEditing">Edit Project Notification</h2>
    <p class="sub-headder">INFORMATION IN THIS SECTION DISPLAYS PUBLICLY</p>

    <div class="flex-container">
      <div class="label-pair">
        <label for="name">Name*</label>
        <input name="name" id="name" formControlName="name" type="text" class="form-control" />
      </div>

      <div class="label-pair">
        <label for="type">Type* </label>
        <select name="type" id="type" formControlName="type" class="form-control" (change)="onChangeType()">
          <option *ngFor="let type of PROJECT_TYPES" [ngValue]="type">{{type}}</option>
        </select>
      </div>

      <div class="label-pair">
        <label for="subType">Sub-Type* </label>
        <select name="subType" id="subType" formControlName="subType" class="form-control">
          <option *ngFor="let subType of subTypeSelected" [ngValue]="subType">{{subType}}</option>
        </select>
      </div>

      <div class="label-pair">
        <label for="name">Proponent*</label>
        <input name="proponent" id="name" formControlName="proponent" type="text" class="form-control" />
      </div>

      <div class="label-pair">
        <label for="trigger">Trigger* </label>
        <ng-select
          id="trigger"
          name="trigger"
          multiple="true"
          placeholder="Type Trigger"
          bindLabel="name"
          groupBy="header"
          [items]="NOTIFICATION_TRIGGERS"
          [closeOnSelect]="false"
          [markFirst]="false"
          [(ngModel)]="triggers"
          [compareWith]="filterCompareWith"
          [ngModelOptions]="{standalone: true}"
          (change)="onChangeTrigger()">
          <ng-template ng-label-tmp let-item="item">
            <span class="ng-value-icon left" (click)="clearSelectedItem(item)" aria-hidden="true">×</span>
            <span class="ng-value-label">{{item.name}}</span>
          </ng-template>
          <ng-template ng-optgroup-tmp let-item="item" let-index="index">
            {{item.header}}
          </ng-template>
        </ng-select>
      </div>

      <div class="label-pair">
        <label for="region">Region* </label>
        <select name="region" id="region" formControlName="region" class="form-control">
          <option *ngFor="let region of regions" [ngValue]="region">{{region}}</option>
        </select>
      </div>


      <div class="label-pair">
        <label for="location">Location* </label>
        <input name="location" id="location" formControlName="location" type="text" class="form-control" />
      </div>
      <div class="label-pair">
        <label for="latitude">Latitude*</label>
        <input name="latitude" id="latitude" formControlName="latitude" type="text" class="form-control" />
      </div>
      <div class="label-pair">
        <label for="longitude">Longitude*</label>
        <input name="longitude" id="longitude" formControlName="longitude" type="text" class="form-control" />
      </div>

      <div class="label-pair">
        <label for="decision">Notification Decision*</label>
        <select name="decision" id="decision" formControlName="decision" class="form-control">
          <option *ngFor="let decision of NOTIFICATION_DECISIONS | keyvalue" [ngValue]="decision.value">{{decision.value}}</option>
        </select>
      </div>

      <div *ngIf="myForm.value.decision && myForm.value.decision !== 'In Progress'" class="label-pair">
        <label for="decisionDate">Decision Date</label>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="decisionDate"
            formControlName="decisionDate" ngbDatepicker #decisionDatePicker="ngbDatepicker" />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="decisionDatePicker.toggle()"
              type="button"></button>
          </div>
        </div>
      </div>

      <div *ngIf="myForm.value.decision && myForm.value.decision === 'Referred to Minister for Designation Decision'" class="label-pair">
        <label for="project" class="eAPProjectLabel">Associated Environmental Assessment Project</label>
        <div class="input-group">
          <select name="project" id="project" formControlName="project" class="form-control">
            <option value="">None</option>
            <option *ngFor="let project of projects" [ngValue]="project._id">{{project.name}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="flex-container">
      <div class="label-pair lrg">
        <label for="description">Description*</label>
        <textarea name="description" id="description" formControlName="description" type="text"
          class="form-control"></textarea>
      </div>
    </div>

    <hr>
    <p class="sub-headder">INFORMATION IN THIS SECTION <u>DOES NOT</u> DISPLAY PUBLICLY, FOR PROJECT TRACKING PURPOSES ONLY</p>

    <div class="flex-container">

      <div class="col-xl-7 col-lg-12 non-public-grouping-box">
        <div class="notification-threshold-box col-12">
          <b>Notification Threshold* </b>
          <span class="info-text" >(Input a value, and the units the value is measured in, based on the triggered threshold)</span>
        </div>
        <div class="label-pair half">
          <input name="notificationThresholdValue" id="notificationThresholdValue" formControlName="notificationThresholdValue" type="text" class="form-control" />
          <label class="sub-label" for="notificationThresholdValue">Value <span class="info-text" >e.g. (74.3)</span></label>
        </div>
        <div class="label-pair half">
          <select name="notificationThresholdUnits" id="notificationThresholdUnits" formControlName="notificationThresholdUnits" class="form-control">
            <option *ngFor="let unit of unitsSelected" [ngValue]="unit">{{unit}}</option>
          </select>
          <label class="sub-label" for="nature">Units <span class="info-text" >e.g. (L/S)</span></label>
          <br><span class="info-text sub-label" >(drop down is populated by Type section above)</span>
        </div>
      </div>

      <div class="col-xl-5 col-lg-12 non-public-grouping-box">
        <div class="label-pair half">
          <label for="nature">Notification Received Date*</label>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="yyyy-mm-dd" name="notificationReceivedDate"
              formControlName="notificationReceivedDate" ngbDatepicker #notificationReceivedDatePicker="ngbDatepicker" />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="notificationReceivedDatePicker.toggle()"
                type="button"></button>
            </div>
          </div>
        </div>
        <div class="label-pair half">
          <label for="nature">Project Nature* </label>
          <select name="nature" id="nature" formControlName="nature" class="form-control" >
            <option *ngFor="let nature of NATURE_OPTIONS" [ngValue]="nature">{{nature}}</option>
          </select>
        </div>
      </div>
      <p class="info-text" >
        For example:
        <br>Greenhouse gas emissions in 'tonnes/year' (value = 130000, units = tonnes/year)
        <br>Workforce unit as 'employees or contractors' (value = 280, units = employees or contractors)
        <br>
        <br>For more complex thresholds, consult the Reviewable Projects Regulation for the correct language.
        <br>eg. for a Sand and Gravel Pit input the unit as either 'tonne/year of excavated sand or gravel or both during at least one year of its operation' or 'tonnes of excavated sand or gravel or both over a period of < 4 years of operation'.
      </p>
    </div>
  </form>

  <div class="text-right">
    <button class="btn btn-primary" type="cancel" (click)="onCancel()">Cancel</button>
    &nbsp;
    <button class="btn btn-primary" type="submit" (click)="onSubmit(null)">Save</button>
    &nbsp;
    <button *ngIf="!isPublished" class="btn btn-primary publish-btn" type="submit" (click)="onSubmit(true)">Save and
      Publish</button>
    <button *ngIf="isPublished" class="btn btn-primary un-publish-btn" type="submit" (click)="onSubmit(false)">Save and
      Un-Publish</button>
  </div>
</main>