<nav class="action-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/projects']">All Projects</a>
    </li>
    <li class="breadcrumb-item">
      <a *ngIf='currentProject' [routerLink]="['/p', currentProject._id]">{{currentProject.name}}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <a *ngIf='currentProject' [routerLink]="['/p', currentProject._id, 'compliance']">Compliance</a></li>
    <li class="breadcrumb-item active" aria-current="page">Inspection Details</li>
  </ol>
</nav>
<div class="spinner-container" *ngIf="loading">
  <div class="spinner-new rotating"></div>
</div>
<main class="container-fluid-padding" *ngIf="compliance">
  <h1>
    <div class="row">
      <div>Inspection Details</div>
    </div>
  </h1>
  <section>
    <div class="row">
      <div class="col-6">
        <h3 class="mb-4">{{compliance.startDate | date}} -
          {{compliance.endDate | date}}</h3>
        <div class="label-pair">
          <h3>Inspection Name: </h3>
          <p id="name">{{compliance.name || '-'}}</p>
        </div>
        <div class="label-pair">
          <h3>Inspection #: </h3>
          <p id="inspectionNumber">{{compliance.case || '-'}}</p>
        </div>
        <div class="label-pair">
          <h3>Inspector Email: </h3>
          <p id="email">{{compliance.email}}</p>
        </div>
        <div class="label-pair">
          <h3>Notes: </h3>
          <div *ngIf="compliance.label" [innerHTML]="compliance.label" id="notes"></div>
          <p *ngIf="compliance.label == null">-</p>
        </div>
      </div>
      <div class="col-6 text-right">
        <button type="button" class="btn btn-primary" (click)="download()">Download Inspection</button>
      </div>
    </div>
  </section>
  <section>
    <div *ngIf="elements.length > 0" class="label-pair">
      <h3>Inspection Submissions</h3>
      <div class="row">
        <div class="col-2">
          <h3>Title</h3>
        </div>
        <div class="col-6">
          <h3>Description</h3>
        </div>
        <div class="col-3">
          <h3>Requirements</h3>
        </div>
        <div class="col-1">
          <h3>Assets</h3>
        </div>
      </div>
      <div *ngIf="!loading"  class="element-accordions">
        <div class="card" *ngFor="let element of this.elements">
          <div class="mouse-hover card-header-inspection" (click)="openElement(element)"
          [attr.aria-expanded]="element.itemClicked" [attr.aria-controls]="element.title">
            <div class="row">
              <div class="col-2">
                <h5>{{element.title}}</h5>
              </div>
              <div class="col-6">
                <h5>{{element.description}}</h5>
              </div>
              <div class="col-3">
                <h5>{{element.requirement}}</h5>
              </div>
              <div class="col-1">
                <h5>
                  <i class="material-icons">
                    attach_file
                  </i>
                  &nbsp;
                  {{element.items.length}}
                </h5>
              </div>
            </div>
          </div>
          <div [attr.id]="element.title" [ngbCollapse]="!element.itemClicked">
            <div class="card">
              <app-table-template *ngIf="!loading && tableParams && tableParams.totalListItems !== 0 && showTable"   (checkboxChange)='checkChange($event)'
                [columns]="tableColumns" [data]="tableData" (onColumnSort)='setColumnSort($event)'
                (onSelectedRow)='updateSelectedRow($event)' (onPageNumUpdate)='getPaginatedDocs($event, null, null)'>
              </app-table-template>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>