@import "assets/styles/components/details.scss";

section {
  + section {
    margin-top: 3rem;
  }
}

h1 {
  margin-bottom: 1.75rem;
}

.people {
  vertical-align: top;

  i {
    vertical-align: bottom;
  }

  .col {
    padding: 0;
    margin-bottom: 20px;
    vertical-align: top;

    @media screen and (min-width: 800px) {
      display: inline-block;
      width: 32%;
      margin-right: 1%;
    }
  }
}

.badge-info {
  color: #00264e;
  background-color: #fcb118;
  box-shadow: none;
  border: none;
  white-space: normal;
  text-align: left;
}

.publish-state {

  i {
    vertical-align: top;
  }

  color: #fff;
  background: #003368;
  display: inline-block;
  padding: 3px 10px;
  border-radius: 25px;
  font-size: .85rem;
  font-weight: 600;
  text-transform: uppercase;
}

.mouse-hover {
  cursor: pointer;
}
.card-header-inspection {
  padding: 0.5rem 1rem;
  color: #495057;
  background: rgba(0,0,0,.03);
  font-size: 0.875rem;
  font-weight: 700;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(158, 158, 158, 0.24);
  border: none;

  h5 {
    margin: 0;
  }
}
.add-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.inline {
  display: inline-block;
}

.center {
  align-items: center;
}

// TODO: if the white space needs to be presevered add this line in. This is for the description on the header for the cards.
// .with-newlines {
  // white-space: pre-line;
// }