<nav class="action-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/projects']">All Projects</a>
    </li>
    <li class="breadcrumb-item">
      @if (project()) {
        <a [routerLink]="['/p', project()._id]">{{project().name}}</a>
      }
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      @if (project()) {
        <a [routerLink]="['/p', project()._id, 'project-documents']">Documents</a>
      }</li>
      <li class="breadcrumb-item active" aria-current="page">Document Details</li>
    </ol>
  </nav>
  @if (resolvedDocument()) {
    <main class="container-fluid-padding">
      <h1>
        <div class="d-flex">
          <div>Details</div>
          <div class="ms-auto" ngbDropdown placement="bottom-right">
            <button class="btn btn-primary" id="actionDropdown" ngbDropdownToggle>Actions</button>
            <div class="dropdown-menu" aria-labelledby="actionDropdown" ngbDropdownMenu>
              <button class="dropdown-item" (click)="onEdit()">Edit</button>
              <button class="dropdown-item" (click)="openDocument()">Open</button>
              <button class="dropdown-item" (click)="downloadDocument()">Download</button>
              <button class="dropdown-item" (click)="togglePublish()">{{publishText()}}</button>
            </div>
          </div>
        </div>
      </h1>
      <section>
        <div class="label-pair">
          <h3 for="displayName">Display Name: </h3>
          <p id="displayName">{{resolvedDocument().displayName || '-'}}</p>
        </div>
        <div class="label-pair">
          <h3 for="publicHitCount">Public Views: </h3>
          <p id="publicHitCount">{{resolvedDocument().publicHitCount || '-'}}</p>
        </div>
        <div class="label-pair">
          <h3 for="secureHitCount">Secure Views: </h3>
          <p id="secureHitCount">{{resolvedDocument().secureHitCount || '-'}}</p>
        </div>
        <div class="label-pair">
          <p id="status publish-state">
            <i class="material-icons">
              {{publishText() === 'Publish' ? 'cloud_off' : 'cloud_done'}}
            </i>
            {{publishText() === 'Publish' ? 'Not Published' : 'Published'}}
          </p>
        </div>
        <div class="label-pair">
          <h3 for="documentFileName">Filename: </h3>
          <p id="documentFileName">{{resolvedDocument().documentFileName || '-'}}</p>
        </div>
        <div class="label-pair">
          <h3 for="description">Description: </h3>
          <p id="description">{{resolvedDocument().description || '-'}}</p>
        </div>
        @if (resolvedDocument().labels) {
          <div class="label-pair">
            <h3 for="tags">Labels: </h3>
            @for (label of resolvedDocument().labels; track label) {
              <div>
                <div class="me-2 badge badge-pill badge-info">{{label}}</div>
              </div>
            }
          </div>
        }
      </section>
      <section>
        <div class="label-pair">
          <h3 for="type">Type: </h3>
          <p id="type">{{resolvedType()}}</p>
        </div>
        <div class="label-pair">
          <h3 for="dateUploaded">Upload Date: </h3>
          <p id="dateUploaded">{{resolvedDocument().dateUploaded | date}}</p>
        </div>
        <div class="label-pair">
          <h3 for="datePosted">Document Date: </h3>
          @if ($any(resolvedDocument().datePosted) !== '1900-01-01T08:00:00.000Z') {
            <p id="datePosted">{{resolvedDocument().datePosted | date}}</p>
          }
        </div>
        <div class="label-pair">
          <h3 for="legislation">Legislation:</h3>
          <p id="legislation">{{resolvedDocument().legislation}}</p>
        </div>
        <div class="label-pair">
          <h3 for="documentAuthor">Author: </h3>
          <p id="documentAuthor">{{resolvedAuthor()}}</p>
        </div>
        <div class="label-pair">
          <h3 for="milestone">Milestone: </h3>
          <p id="milestone">{{resolvedMilestone()}}</p>
        </div>
        <div class="label-pair">
          <h3 for="projectPhase">Project Phase: </h3>
          <p id="projectPhase">{{resolvedProjectPhase()}}</p>
        </div>
        <div class="label-pair">
          <h3 for="internalSize">Filesize: </h3>
          <p id="internalSize">{{formatBytes(resolvedDocument().internalSize)}}</p>
        </div>
      </section>
    </main>
  }
