<tr *ngFor="let topic of topics"
    class="clickable-row">
    <td data-label="Name" scope="row" [style.width]="!useSmallTable && columns[0].width">{{topic.name}}</td>
    <td data-label="Description" scope="row" [style.width]="!useSmallTable && columns[1].width">{{topic.description}}</td>
    <td data-label="Type" scope="row" [style.width]="!useSmallTable && columns[2].width">{{topic.type}}</td>
    <td data-label="Pillar" scope="row" [style.width]="!useSmallTable && columns[3].width">{{topic.pillar}}</td>
    <td data-label="Event" scope="row" [style.width]="!useSmallTable && columns[4].width">
        <app-dropdown-template [items]="dropdownItems" (itemSelected)="selectItem($event, topic)">
        </app-dropdown-template>
    </td>
</tr>
