<tr *ngFor="let item of items | paginate: { id: 'table-template-pagination', itemsPerPage: items.length, currentPage: 1, totalItems: items.length }" (click)="itemClicked(item)">
  <td scope="row" data-label="Name" class="col-2">{{item.type || '-'}}</td>
  <td scope="row" data-label="Name" class="col-4">{{item.appliedTo || '-'}}</td>
  <td scope="row" data-label="Name" class="col-3">{{item.start | date: 'longDate'}}</td>
  <td scope="row" data-label="Name" class="col-3">{{item.end | date: 'longDate'}}</td>
</tr>
