<table class="table">
  <thead class="thead-light">
    <tr>
      @for (entry of columns; track entry) {
        <th class="project-table__name-col sortable"
          (click)="!entry.nosort && sort(entry.value)" [style.width]="entry.width">
          @if (entry.name !== 'select_all_box') {
            <div>
              {{entry.name}}
            </div>
          }
          @if (entry.name === 'select_all_box') {
            <div>
              @if (selectAll === false) {
                <i class="material-icons" aria-hidden="true"
                (click)="selectAction()" (keydown)="onKeyDown($event)">check_box_outline_blank</i>
              }
              @if (selectAll === true) {
                <i class="material-icons" aria-hidden="true" (click)="selectAction()" (keydown)="onKeyDown($event)">check_box</i>
              }
            </div>
          }
          @if (entry.nosort !== true) {
            <i class="sort"
              [ngClass]="{'sort-asc': (column.slice(1) == entry.value && column.charAt(0) === '+'), 'sort-desc': (column.slice(1) == entry.value && column.charAt(0) === '-') }"
            aria-hidden="true"></i>
          }
        </th>
      }
    </tr>
  </thead>
  <ng-template table-host>
    <div (selectedCount)="updateSelectedCount($event)"></div>
  </ng-template>
</table>
<div class="page-controls text-center pt-3 pb-3">
  @if (data.paginationData.totalListItems >= 10) {
    <nz-pagination [nzPageIndex]="activePage"
      (nzPageIndexChange)="updatePageNumber($event)" (nzPageSizeChange)="updatePageSize($event)"
      [nzShowSizeChanger]="true" [nzPageSize]="activePageSize" [nzTotal]="data.paginationData.totalListItems"
      [nzPageSizeOptions]="pageSizeArray" [nzShowTotal]="totalTemplate">
    </nz-pagination>
  }
  <ng-template #totalTemplate let-total>{{total}} result@if (total != 1) {
    <span>s</span>
    } found
    <button nz-button nzType="primary" class="show_all_btn"
    (click)="updatePageSize(data.paginationData.totalListItems)">Show All</button>
  </ng-template>
</div>