.table {
  border: none;
}

.table tr {
  width: 100%;
  border: none;
  display: table;
}

.table thead tr {
  background: #e8eff5;
  align-items: flex-start;
  width: 100%;
}

.table thead th {
  background-color: #e8eff5;
  padding: .7rem 0.15rem .85rem;
  border: none;

  /* border-bottom: 2px solid transparent; */
}

@media screen and (width <= 600px) {
  .table thead th {
    padding: .7rem 0.5rem .85rem;
  }
}

/* .table thead th:hover {
  border-bottom: 2px solid #007bff;
} */

.table td {
  border: none;
  display: table-cell;
}

.table tr td:first-child,
.table tr th:first-child {
  padding-left: 1rem;
}

@media screen and (width <= 600px) {
  .table tr td:first-child,
  .table tr th:first-child {
    padding-left: 0.5rem;
  }
}

.table thead {
  border-bottom: none;
}

.ant-pagination-item:focus, .ant-pagination-item:hover, .ant-btn-primary, .ant-select-dropdown-menu-item-active,
.ant-pagination-item-active, .ant-select-dropdown-menu-item:hover {
  background: #007bff !important;
  color: #fff !important;
}

.ant-pagination-item-active a, .ant-pagination-item:focus a, .ant-pagination-item:hover a {
  color: #fff !important;
}

.ant-pagination-item-container .ant-pagination-item-link-icon {
  color: #007bff;
}

.ant-pagination-prev:hover .ant-pagination-item-link, .ant-pagination-next:hover .ant-pagination-item-link {
  background: #007bff !important;
  color: #fff !important;
}

.show_all_btn {
  margin-left: 10px;
}
