@import "assets/styles/components/add-edit.scss";

.label-pair {
    width: 100%;
}

.badge-published{
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    letter-spacing: 0.5px;
    margin-left: 10px;
}

.btn-unpublish{
    background-color: white;
    color: #D8292F;
    border-color: #D8292F;
    border-width: 1px;
}

.btn-publish{
    background-color: #28a745;
    border-color: #28a745;
}

.btn-cancel{
    background-color: white;
    color: #007bff;
    border-color: #007bff;
    border-width: 1px;
}

.legislation-label {
    font-weight: 400;
}
