<nav class="action-container" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a [routerLink]="['/project-notifications']">All Project Notifications</a>
    </li>
    <li class="breadcrumb-item">
        <a *ngIf='currentProject' [routerLink]="['/pn', currentProject._id, 'details']">{{currentProject.name}}</a>
    </li>
    <li class="breadcrumb-item">
      <a *ngIf='currentProject' [routerLink]="['/pn', currentProject._id, 'project-notification-documents']">Documents</a>
    </li>
    <li class="breadcrumb-item">Upload Document(s)</li>
  </ol>
</nav>

<div class="container-fluid-padding">
  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>

  <div class="form-group mb-0">
    <form [formGroup]="myForm" (ngSubmit)="register(myForm)" novalidate>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label *ngIf="documents && documents.length > 1" for="displayName">Document Name</label>
          <label *ngIf="!documents || documents.length < 2" for="displayName">Document Name*</label>
          <div *ngIf="docNameInvalid" class="alert alert-danger" role="alert">
            \ / | : * ? " < > are not accepted file name characters
          </div>
          <div>
              <textarea *ngIf="documents && documents.length > 1" disabled class="form-control" id="displayName" name="displayName" rows="1" formControlName="displayName"></textarea>
              <textarea *ngIf="!documents || documents.length < 2" class="form-control" id="displayName" name="displayName" rows="1" formControlName="displayName" (ngModelChange)="validateChars()"></textarea>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="form-group mb-0">
    <app-file-upload [maxFiles]="2" [maxSize]="300" [showInfo]="false" [showList]="false" [files]="projectFiles"
      (filesChange)="addDocuments($event); projectFiles = []"></app-file-upload>
    <br>
    <ul class="doc-list mb-3" *ngIf="documents?.length > 0">
      <li *ngFor="let doc of documents">
        <span class="cell icon">
          <i class="material-icons">insert_drive_file</i>
        </span>
        <span class="cell name" [title]="doc.displayName || ''">
          <span class="cell__txt-content">{{doc.documentFileName}}</span>
        </span>
        <span class="cell actions">
          <button class="btn btn-icon" type="button" title="Delete this document" (click)="deleteDocument(doc)">
            <i class="material-icons">delete</i>
          </button>
        </span>
      </li>
    </ul>
  </div>
  <div class="text-right" >
    <button class="btn btn-cancel" type="cancel" (click)="goBack()">Cancel</button>
    &nbsp;
    <button class="btn btn-primary mr-1" [disabled]="!docNameExists() || !myForm.valid || docNameInvalid || documents?.length === 0"  type="submit" (click)="uploadDocuments()">Upload</button>
    &nbsp;
  </div>
</div>
