<div class="add-group-modal">

    <div class="modal-header">
      <button class="close-btn btn btn-icon gtm-day-calculator-dismiss" type="button" aria-label="Close"
        (click)="cancel()">
        <i class="material-icons">close</i>
      </button>
      <h2>Confirmation</h2>
    </div>

    <div class="modal-body">
      <h4> {{message}} </h4>
    </div>

    <div class="modal-footer">
      <button class="btn btn-primary" type="button" (click)="submit(false)">No</button>
      <button class="btn btn-success" type="button" (click)="submit(true)">Yes</button>
    </div>

  </div>
