@import url("src/assets/styles/components/add-edit.css");

.form-row {
  border-bottom: 1px solid lightgray;
  margin-bottom: 2rem;
}

.btn-unpublish {
  background-color: white;
  color: var(--bs-danger);
  border-color: var(--bs-danger);
  border-width: 1px;
}

.btn-publish {
  background-color: var(--bs-success);
  border-color: var(--bs-success);
}