<div class="action-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" aria-current="page">
      <a [routerLink]="['/activity']">Activity Posts</a>
    </li>
    <li *ngIf="isEditing" class="breadcrumb-item active" aria-current="page">
      Edit
    </li>
    <li *ngIf="!isEditing" class="breadcrumb-item active" aria-current="page">
      Add
    </li>
  </ol>
</div>

<main class="container-fluid-padding add-edit-form">
  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>
  <form [formGroup]="myForm" (ngSubmit)="register()" novalidate>
    <div class="text-right">
      <button class="btn btn-primary" type="cancel" (click)="onCancel()">Cancel</button>
      &nbsp;
      <button [disabled]="!myForm.valid" class="btn btn-primary" type="submit" (click)="onSubmit()">Save</button>
    </div>
    <h2>Activity Post</h2>
    <div class="flex-container">
      <div class="label-pair">
        <label for="type">Type* </label>
        <select required default="select" class="form-control" formControlName="type" (change)="updateType()">
          <option *ngFor="let type of activityTypes" [ngValue]="type">{{type}}</option>
        </select>
      </div>
    </div>
    <div class="flex-container" *ngIf="typeIsNotification">
      <div class="label-pair">
        <label for="type">Project Notification Name*</label>
        <input [required]="typeIsNotification" name="notificationName" id="notificationName"
          formControlName="notificationName" type="text" class="form-control" />
      </div>
    </div>
    <div class="flex-container">
      <div class="label-pair lrg">
        <label for="headline">Headline* </label>
        <input required name="headline" id="headline" formControlName="headline" type="text" class="form-control" />
      </div>
    </div>
    <div class="flex-container">
      <div class="label-pair lrg">
        <label for="content">Content* </label>
        <editor required [init]="tinyMceSettings" name="content" id="content" formControlName="content"></editor>
      </div>
    </div>
    <div *ngIf="typeIsPCP && !projectIsSelected" class="alert alert-warning" role="alert">
      Please select a project.
    </div>
    <div *ngIf="typeIsPCP && projectIsSelected && periods.length === 0" class="alert alert-warning" role="alert">
      No public comment periods exist for selected project.
    </div>
    <div class="flex-container">
      <div class="label-pair med">
        <label *ngIf="!typeIsPCP" for="project">Project </label>
        <label *ngIf="typeIsPCP" for="project">Project* </label>
        <select [required]="typeIsPCP" class="form-control" formControlName="project" (change)="updateProject()">
          <option *ngFor="let project of projects" [ngValue]="project._id">{{project.name}}</option>
        </select>
      </div>
    </div>
    <div class="flex-container">
      <div class="label-pair med">
        <label for="projectLocation">Project Location</label>
        <input disabled type="text" class="form-control" formControlName="projectLocation" value="" readonly>
      </div>
    </div>
    <div class="flex-container">
      <div class="label-pair">
        <label for="dateAdded">Date Added</label>
        <div class="input-group">
          <input required type="text" class="form-control" placeholder="yyyy-mm-dd" name="dateAdded"
            formControlName="dateAdded" ngbDatepicker #dateAddedPicker="ngbDatepicker" />
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dateAddedPicker.toggle()"
              type="button"></button>
          </div>
        </div>
      </div>
      <div class="label-pair">
        <label *ngIf="!typeIsPCP" for="pcp">Public Comment Period</label>
        <label *ngIf="typeIsPCP" for="pcp">Public Comment Period* </label>
        <select [required]="typeIsPCP" class="form-control" formControlName="pcp">
          <!-- this default value is so that when you are switching between projects and this PCP selector is being populated it doesn't default to the first PCP -->
          <option disabled hidden [ngValue]=""></option>
          <option *ngFor="let period of periods" [ngValue]="period._id">{{period.dateStarted | date: 'MMMM d'}} -
            {{period.dateCompleted | date}}</option>
        </select>
      </div>
    </div>
    <div class="flex-container">
      <div class="label-pair lrg">
        <label *ngIf="!typeIsNotification" for="documentUrl">Document URL</label>
        <label *ngIf="typeIsNotification" for="documentUrl">URL to Public Comment Period*</label>
        <input [required]="typeIsNotification" documentUrl="documentUrl" id="documentUrl" formControlName="documentUrl"
          type="text" class="form-control" />
      </div>
    </div>
    <div class="flex-container">
      <div class="label-pair">
        <label for="active">Published* </label>
        <div name="active" class="radio-group">
          <div class="radio">
            <input type="radio" id="yes" value="yes" formControlName="active" name="active" />
            <label for="yes">Yes</label>
          </div>
          <div class="radio">
            <input type="radio" id="no" value="no" formControlName="active" name="active" />
            <label for="no">No</label>
          </div>
        </div>
      </div>
    </div>
  </form>
</main>