<nav class="action-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/project-notifications']">All Project Notifications</a>
    </li>
    <li class="breadcrumb-item active">{{projectNotification && projectNotification.name}}</li>
  </ol>
  <div ngbDropdown placement="bottom-right" class="d-inline-block">
    <button class="btn btn-primary" id="actionDropdown" ngbDropdownToggle>Actions</button>
    <div class="dropdown-menu" aria-labelledby="actionDropdown" ngbDropdownMenu>
      <button class="dropdown-item" (click)="edit()">Edit</button>
      <button *ngIf="!isPublished" class="dropdown-item" (click)="publish()">Publish</button>
      <button *ngIf="isPublished" class="dropdown-item" (click)="unPublish()">Un-Publish</button>
    </div>
  </div>
</nav>
<main class="container-fluid-padding">
  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>
  <h1 id="name">{{projectNotification.name}}</h1>
  <section>
    <h2>Basic Information</h2>
    <span *ngIf="isPublished" class="badge bg-success badge-published">Published</span>
    <span *ngIf="!isPublished" class="badge badge-unpublished">Not Published</span>
    <div class="label-pair">
      <h3>Description: </h3>
      <p>{{projectNotification.description || 'No description available'}}</p>
    </div>
    <div class="label-pair">
      <h3>Type: </h3>
      <p>{{projectNotification.type || '-'}}</p>
    </div>
    <div class="label-pair">
      <h3>Sub-Type: </h3>
      <p>{{projectNotification.subType || '-'}}</p>
    </div>
    <div class="label-pair">
      <h3>Nature: </h3>
      <p>{{projectNotification.nature || '-'}}</p>
    </div>
    <div class="label-pair">
      <h3>Region: </h3>
      <p>{{projectNotification.region || '-'}}</p>
    </div>
    <div class="label-pair">
      <h3>Location: </h3>
      <p>{{projectNotification.location || '-'}}</p>
    </div>
    <div class="label-pair">
      <h3>Longitude: </h3>
      <p>{{projectNotification.longitude || '-'}}</p>
    </div>
    <div class="label-pair">
      <h3>Latitude: </h3>
      <p>{{projectNotification.latitude || '-'}}</p>
    </div>
    <div class="label-pair">
      <h3>Notification Trigger: </h3>
      <p>{{projectNotification.trigger || '-' }}</p>
    </div>
    <div class="label-pair">
      <h3>Notification Decision: </h3>
      <p>{{projectNotification.decision || '-' }} {{projectNotification.decisionDate | date:'longDate'}}</p>
    </div>
  </section> 
</main>