@import "assets/styles/components/details.scss";

section {
  + section {
    margin-top: 3rem;
  }
}

h1 {
  font-size: 2.1rem;
  margin-bottom: 1.75rem;
}

.people {
  vertical-align: top;

  i {
    vertical-align: bottom;
  }

  .col {
    padding: 0;
    margin-bottom: 20px;
    vertical-align: top;

    @media screen and (min-width: 800px) {
      display: inline-block;
      width: 32%;
      margin-right: 1%;
    }
  }
}

.clickable-row {
  cursor: pointer;
}

li:hover {
  cursor: pointer;
  background-color: #e2f1ff;
}

.badge-published{
  color: white;
  font-size: large;
  margin-bottom: 11px;
}

.badge-unpublished{
  background-color: #343A40;
  color: white;
  font-size: large;
  margin-bottom: 11px;
}
