@import "~assets/styles/base/base.scss";

.clickable-row {
    cursor: pointer;
}

.create-button {
    margin-top: 3.5rem;
    float: right;
}

.btn-group-toggle > .btn {
    margin-bottom: 0;
    background: none;
    color: #13477b;
    border: 1px solid #858b99;
    font-weight: 600;

    &:hover {
      background: #fcb118;
    }

    &.active {
        background: #235383;
        color: #fff;
    }
  }


  @media screen and (max-width: 768px) {
      .btn-group-toggle {
      display: block;
    }

      .btn-group.btn-group-toggle > div {
        display: inline-block;
        margin-top: 6px;
      }
  }
