<nav class="action-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/project-notifications']">All Project Notifications</a>
    </li>
    <li class="breadcrumb-item active">{{notificationProject && notificationProject.name}}</li>
  </ol>
  <div ngbDropdown placement="bottom-right" class="d-inline-block">
    <button class="btn btn-primary" id="actionDropdown" ngbDropdownToggle>Actions</button>
    <div class="dropdown-menu" aria-labelledby="actionDropdown" ngbDropdownMenu>
      <!-- Replace click events -->
      <!-- <button class="dropdown-item" [routerLink]="['/p', project._id, 'project-documents', 'upload']">Upload -->
      <!-- Document</button> -->
      <button class="dropdown-item" (click)="edit()">Edit</button>
      <button *ngIf="!isPublished" class="dropdown-item" (click)="publish()">Publish</button>
      <button *ngIf="isPublished" class="dropdown-item" (click)="unPublish()">Un-Publish</button>
    </div>
  </div>
</nav>
<main class="container-fluid-padding">
  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>
  <h1 id="name">{{notificationProject.name}}</h1>
  <section>
    <h2>Basic Information</h2>
    <div class="label-pair">
      <h3 for="status">Status:</h3>
      <p *ngIf="isPublished">
        Published
      </p>
      <p *ngIf="!isPublished">
        Not Published
      </p>
    </div>
    <div class="label-pair">
      <h3 for="proponent">Proponent: </h3>
      <p id="proponent">{{notificationProject.proponentName || '-'}}</p>
    </div>
    <div class="label-pair">
      <h3 for="type">Type: </h3>
      <p class="type" id="type">{{notificationProject.type || '-'}}</p>
    </div>
    <div class="label-pair">
      <h3 for="type">Sub-Type: </h3>
      <p class="type" id="subtype">{{notificationProject.subType || '-'}}</p>
    </div>
    <div class="label-pair">
      <h3 for="type">Start Date: </h3>
      <p class="type" id="startDate">{{notificationProject.startDate | date:'longDate'}}</p>
    </div>
    <div class="label-pair">
      <h3 for="type">Decision Date: </h3>
      <p class="type" id="decisionDate">{{notificationProject.decisionDate | date:'longDate'}}</p>
    </div>
    <div class="label-pair full">
      <h3 for="description">Description: </h3>
      <p id="description">{{notificationProject.description || 'No notification project description available'}}</p>
    </div>
  </section>

  <section>
    <h2>Location</h2>
    <div class="label-pair">
      <h3 for="type">Region: </h3>
      <p class="type" id="longitude">{{notificationProject.region || '-'}}</p>
    </div>
    <div class="label-pair">
      <h3 for="type">Longitude: </h3>
      <p class="type" id="longitude">{{notificationProject.centroid[0] || '-'}}</p>
    </div>
    <div class="label-pair">
      <h3 for="type">Latitude: </h3>
      <p class="type" id="latitude">{{notificationProject.centroid[1] || '-'}}</p>
    </div>
  </section>

  <section>
    <h2>Documents</h2>
    <div class='row'>
      <div class='col-md-6'>
        <ul *ngIf="documents?.length > 0" class="doc-list mb-3">
          <li class="clickable-row" *ngFor="let doc of documents" (click)="downloadDocument(doc)">
            <span class="cell icon">
              <i class="material-icons">insert_drive_file</i>
            </span>
            <span class="cell name" [title]="doc.documentFileName || ''">
              <span class="cell__txt-content">{{doc.documentFileName}}</span>
            </span>
          </li>
        </ul>
        <div *ngIf="documents?.length === 0">
          <p>This project notification has no associated documents.</p>
        </div>
      </div>
    </div>
  </section>
</main>