<nav class="action-container" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/projects']">All Projects</a>
    </li>
    <li class="breadcrumb-item">
      <a *ngIf='currentProject' [routerLink]="['/p', currentProject._id]">{{currentProject.name}}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">CAC</li>
  </ol>
</nav>
<div class="spinner-container" *ngIf="loading">
  <div class="spinner-new rotating"></div>
</div>

<!-- NO CAC EXISTS -->
<div *ngIf="!projectCAC" class="container-fluid-padding">
  <p>No Project CAC has been added to this Project - Click the 'Create Project CAC' button to add one.</p>
  <button
    (click)="selectAction('createCAC')"
    class="btn btn-outline-secondary mr-1"
    type="button"
    id="button-d"><i class="material-icons">delete</i>Create Project CAC</button>
</div>


<!-- CAC EXISTS -->
<div *ngIf="projectCAC" class="container-fluid-padding">
  <div class="row">
    <div class='input-group-prepend col-10'>
      <span class="badge bg-success badge-published" *ngIf="isPublished">Published</span>
      <span class="badge badge-unpublished" *ngIf="!isPublished">Unpublished</span>
    </div>
  </div>
  <div class="row input-group-prepend font-weight-light pull-right col-12 mb-3">
    <u>Community Advisory Committee Email:</u><a class="ml-2" href="mailto://{{this.currentProject.cacEmail}}">{{this.currentProject.cacEmail}}</a>
  </div>
  <div class="row">
    <div class='input-group-prepend col-10'>
      <button (click)="selectAction('selectAll')" class="btn btn-outline-secondary mr-1" type="button" id="button-sa"><i
          class="material-icons">select_all</i>Select
        All</button>
      <button (click)="selectAction('delete')" class="btn btn-outline-secondary mr-1" [disabled]="!isEnabled('delete')"
        type="button" id="button-d"><i class="material-icons">delete</i>Remove Member</button>
      <button (click)="selectAction('export')" class="btn btn-outline-secondary mr-1" [disabled]="!isEnabled('export')"
        type="button" id="button-ex"><i class="material-icons">import_export</i>Export</button>
      <button (click)="selectAction('copyEmail')" class="btn btn-outline-secondary mr-1" [disabled]="!isEnabled('copyEmail')"
        type="button" id="button-ce"><i class="material-icons">import_export</i>Copy Emails</button>


      <button class="btn btn-primary btn-publish" type="publish" (click)="selectAction('publishCAC')" *ngIf="!this.isPublished">Publish</button>
      <button class="btn btn-unpublish"  type="publish" (click)="selectAction('unpublishCAC')"  *ngIf="this.isPublished">Unpublish</button>
      


    </div>
    <div class='input-group-prepend col-2'>
      <button *ngIf="!isPublished" (click)="selectAction('deleteCAC')" class="btn btn-outline-secondary mr-1 pull-right"
        type="button" id="button-ce">Delete CAC</button>
    </div>
  </div>
  <br>
  <form #f="ngForm" class="search-form ui form" (ngSubmit)="onSubmit()">
    <div class="results">
      <p *ngIf="!loading && tableParams.totalListItems == 0">
        No result<span *ngIf="count != 1">s</span> found
      </p>
      <div *ngIf="!loading && tableParams.totalListItems > 0">
        {{tableParams.totalListItems}} result<span *ngIf="tableParams.totalListItems != 1">s found</span>
      </div>
    </div>
  </form>

  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>

  <div class="paging-content" *ngIf="!loading && tableParams.totalListItems > 0">
    <div *ngIf="!loading">
      <div class="btn-toolbar mb-2" class="text-right" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group-toggle" role="group" aria-label="First group">
          <a href="javascript:void(0);" role="button" class="btn btn-primary ml-1" (click)="onPageLimitClick(25)"
            aria-pressed="tableParams.pageSize === 25" [ngClass]="{'active': this.tableParams.pageSize === 25}">25</a>
          <a href="javascript:void(0);" role="button" class="btn btn-primary ml-1" (click)="onPageLimitClick(50)"
            aria-pressed="tableParams.pageSize === 50" [ngClass]="{'active': this.tableParams.pageSize === 50}">50</a>
          <a href="javascript:void(0);" role="button" class="btn btn-primary ml-1" (click)="onPageLimitClick(100);"
            aria-pressed="tableParams.pageSize === 100" [ngClass]="{'active': this.tableParams.pageSize === 100}">100</a>
          <a href="javascript:void(0);" role="button" class="btn btn-primary ml-1" (click)="onPageLimitClick('all')"
            aria-pressed="tableParams.pageSize === this.tableParams.totalListItems" [ngClass]="{'active': 
                          this.tableParams.pageSize === this.tableParams.totalListItems
                       }">Show All</a>
        </div>
      </div>
    </div>
  </div>

  <app-table-template
    *ngIf="!loading && tableParams.totalListItems != 0"
    (checkboxChange)='checkChange($event)'
    [columns]="tableColumns"
    [data]="tableData"
    (onColumnSort)='setColumnSort($event)'
    (onSelectedRow)='updateSelectedRow($event)'
    (onPageNumUpdate)='getPaginatedDocs($event, null, null)'>
  </app-table-template>
</div>
