legend {
	padding-top: 30px;
	font-size: 3rem;
}

.actions-container {
  display: flex;
  justify-content: space-between;

  .paging-content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.badge-published{
  color: white;
  font-size: large;
  margin-bottom: 11px;
}

.badge-unpublished{
  background-color: #343A40;
  color: white;
  font-size: large;
  margin-bottom: 11px;
}

.btn-unpublish{
  background-color: white;
  color: #D8292F;
  border-color: #D8292F;
  border-width: 1px;
}

.btn-publish{
  background-color: #28a745;
  border-color: #28a745;
}