@for (item of items; track item) {
  <tr (click)="goToItem(item)"
    class="clickable-row">
    <td scope="row" data-label="Name" [style.width]="!useSmallTable && columns[0].width">{{item.name || '-'}}</td>
    <td scope="row" data-label="Type" [style.width]="!useSmallTable && columns[1].width">{{item.type || '-'}}</td>
    <td scope="row" data-label="Type" [style.width]="!useSmallTable && columns[2].width">{{item.subType || '-'}}</td>
    <td scope="row" data-label="Region" [style.width]="!useSmallTable && columns[3].width">{{item.region || '-'}}</td>
    <td scope="row" data-label="Decision" [style.width]="!useSmallTable && columns[4].width">{{item.decision || '-'}}</td>
  </tr>
}
