<nav *ngIf="!loading" class="action-container" aria-label="breadcrumb">
  <ol *ngIf="navigationObject" class="breadcrumb">
    <li class="breadcrumb-item" *ngFor="let breadcrumb of navigationObject.breadcrumbs">
      <a href="javascript:void(0);"
        (click)="navigationStackUtils.navigateBreadcrumb(breadcrumb, router)">{{breadcrumb.label}}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{extensionOperation}} {{extensionType}}
    </li>
  </ol>
</nav>

<main class="container-fluid-padding add-edit-form">
  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>
  <form #f="ngForm" class="search-form ui form" [formGroup]="extensionForm" (ngSubmit)="onSubmit()">
    <h2>{{extensionOperation}} {{extensionType}}</h2>

    <section>
      <div class="flex-container">
        <div class="label-pair">
          <label for="appliedTo">Applied To</label>
          <input required name="appliedTo" id="appliedTo" formControlName="appliedTo" type="text"
            class="form-control" />
        </div>
      </div>
    </section>
    <section>
      <div class="flex-container">
        <fieldset class="form-group">
          <div class="label-pair">
            <label for="start">Start Date</label>
            <div class="input-group">
              <input required type="text" class="form-control" placeholder="yyyy-mm-dd" name="start"
                formControlName="start" ngbDatepicker #start="ngbDatepicker" />
              <button class="btn btn-outline-secondary calendar" (click)="start.toggle()" type="button"></button>
            </div>
          </div>
          <div class="label-pair">
            <label for="end">End Date</label>
            <div class="input-group">
              <input required type="text" class="form-control" placeholder="yyyy-mm-dd" name="end" formControlName="end"
                ngbDatepicker #end="ngbDatepicker" />
              <button class="btn btn-outline-secondary calendar" (click)="end.toggle()" type="button"></button>
            </div>
          </div>
        </fieldset>
      </div>
    </section>
  </form>

  <br>

  <div class="btn-toolbar justify-content-between" role="toolbar" aria-label="Toolbar with button groups">
    <div class="btn-group" role="group" aria-label="First group">
      <button class="btn btn-outline-primary me-1" type="button" id="button-cl" (click)="goBack()"><i
          class="material-icons">arrow_back</i>Back</button>
      <button [disabled]="!extensionForm.valid" class="btn btn-primary" type="submit" (click)="onSubmit()">Save</button>
    </div>
    <div class="input-group">
      <button *ngIf="isEditing" class="btn btn-danger" type="button" (click)="onDelete()">Delete</button>
    </div>
  </div>
</main>