<nav class="action-container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/projects']">All Projects</a>
    </li>
    <li class="breadcrumb-item">
      <a *ngIf='currentProject' [routerLink]="['/p', currentProject._id]">{{currentProject.name}}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <a *ngIf='currentProject' [routerLink]="['/p', currentProject._id, 'compliance']">Compliance</a></li>
    <li class="breadcrumb-item active" aria-current="page">Inspection Details</li>
  </ol>
</nav>
<main class="container-fluid-padding" *ngIf="document">
  <h1>
    <div class="row">
      <div>Inspection Details</div>
    </div>
  </h1>
  <section>
    <label class="btn btn-outline-primary">{{document.startDate | date}} - {{document.endDate | date}}</label>
    <div class="label-pair">
      <h3 for="displayName">Inspection #: </h3>
      <p id="displayName">{{document.case || '-'}}</p>
    </div>
    <div class="label-pair">
      <h3 for="email">Inspector Email: </h3>
      <p id="email">{{document.email}}</p>
    </div>
    <div *ngIf="document.elements" class="label-pair">
      <h3 for="tags">Inspection Submissions: </h3>
      <div *ngFor="let element of document.elements">
        <p>{{element._id}}</p>
        <!-- <div *ngIf='element.type === "photo"' class="mr-2">
          <img class="img-thumbnail" *ngIf="element.src" [src]="element.src" (click)='api.downloadElementResource(element)'/>
          <div>Coords: [{{element.geo.latitude}},{{element.geo.longitude}}]</div>
        </div>
        <div *ngIf='element.type === "video"' class="mr-2">
          <i class="img-thumbnail material-icons mr-3" (click)='api.downloadElementResource(element)'>video_library</i>
          <div>Coords: [{{element.geo.latitude}},{{element.geo.longitude}}]</div>
        </div>
        <div *ngIf='element.type === "voice"' class="mr-2">
          <i class="img-thumbnail material-icons mr-3" (click)='api.downloadElementResource(element)'>settings_voice</i>
          <div>Coords: [{{element.geo.latitude}},{{element.geo.longitude}}]</div>
        </div>
        <div *ngIf='element.type === "text"' class="mr-2">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title mb-2">{{element.text.name}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">{{element.text.title}}</h6>
              <h6 class="card-subtitle">{{element.text.requirement}}</h6>
              <p class="card-text">{{element.text.description}}</p>
            </div>
          </div>
          <div>Coords: [{{element.geo.latitude}},{{element.geo.longitude}}]</div>
        </div> -->
      </div>
    </div>
  </section>
</main>