@import "assets/styles/components/add-edit.scss";

.form-row {
  border-bottom: 1px solid lightgray;
  margin-bottom: 2rem;
}

.badge-published{
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    letter-spacing: 0.5px;
    margin-left: 10px;
}

.btn-publish{
    background-color: #28a745;
    border-color: #28a745;
}

.btn-autofill{
    padding-bottom: 1px;
    padding-top: 1px;
    font-size: 0.9rem;
    margin-bottom: 2px;
}
// .nav-tabs {
//     background: none;
// }
// .project-tabs {
// background: #f7f8fa;
// }
// .nav-tabs .nav-link.active {
// background: #f7f8fa;
// }
