<nav class="action-container" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      @if (baseRouteUrl === '/p') {
        <a [routerLink]="['/projects']">All Projects</a>
      }
      @if (baseRouteUrl === '/pn') {
        <a [routerLink]="['/project-notifications']">All Project Notifications</a>
      }
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="[baseRouteUrl, project()._id]">{{project().name}}</a>
    </li>
    <li class="breadcrumb-item" aria-current="page">
      <a [routerLink]="[baseRouteUrl, project()._id, 'comment-periods']">Comment Periods</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{commentPeriod().dateStarted | date: 'MMMM d'}} - {{commentPeriod().dateCompleted | date}}
    </li>
  </ol>
</nav>

<main class="container-fluid-padding">
  <h1 id="name">{{project().name}} <span class="date">| Comment Period</span></h1>

    <ul ngbNav #nav="ngbNav" [(activeId)]="selectedTab" class="nav nav-tabs">
      <li [ngbNavItem]="0" class="nav-item">
        <button ngbNavLink class="nav-link fw-bold">DETAILS</button>
        <ng-template ngbNavContent>
          <br>
          <app-comment-period-details-tab [commentPeriod]="commentPeriod()" [project]="project()"></app-comment-period-details-tab>
        </ng-template>
      </li>
      <li [ngbNavItem]="1" class="nav-item">
        <button ngbNavLink class="nav-link fw-bold">REVIEW COMMENTS</button>
        <ng-template ngbNavContent>
          <br>
          <app-review-comments-tab [project]="project()"></app-review-comments-tab>
        </ng-template>
      </li>
    </ul>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>
  </main>
