<nav class="action-container" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      @if (baseRouteUrl === '/p') {
        <a [routerLink]="['/projects']">All Projects</a>
      }
      @if (baseRouteUrl === '/pn') {
        <a [routerLink]="['/project-notifications']">All Project Notifications</a>
      }
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="[baseRouteUrl, project()._id]">{{project().name}}</a>
    </li>
    <li class="breadcrumb-item" aria-current="page">
      <a [routerLink]="[baseRouteUrl, project()._id, 'comment-periods']">Comment Periods</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{commentPeriod().dateStarted | date: 'MMMM d'}} - {{commentPeriod().dateCompleted | date}}
    </li>
  </ol>
</nav>

<main class="container-fluid-padding">
  <h1 id="name">{{project().name}} <span class="date">| Comment Period</span></h1>

  <div>
    <mat-tab-group [selectedIndex]="selectedTab">
      <mat-tab label="DETAILS">
        <br>
          <app-comment-period-details-tab [commentPeriod]="commentPeriod()" [project]="project()"></app-comment-period-details-tab>
        </mat-tab>
        <mat-tab label="REVIEW COMMENTS">
          <app-review-comments-tab [project]="project()"></app-review-comments-tab>
        </mat-tab>
      </mat-tab-group>
    </div>
  </main>
