@import "~assets/styles/base/base.scss";

.modal-dialog {
  margin-top: 0rem;
margin-bottom: 0rem;
}
.modal-content {
  padding: 1rem;
}

.close-btn {
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  border-radius: 0.3rem;
}