<nav class="action-container" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/projects']">All Projects</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/p', currentProject._id]">{{currentProject.name}}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page"><a
        [routerLink]="['/p', currentProject._id, 'project-documents']">Documents</a></li>
    <li class="breadcrumb-item">Edit Document(s)</li>
  </ol>
</nav>
<main *ngIf="documents" class="container-fluid-padding">
  <label *ngIf="documents && documents.length > 1">You are editing the following files:</label>
  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>

  <ul class="list-group" *ngFor="let document of documents">
    <li class="list-group-item">{{document.displayName || '-'}} ({{document.documentFileName}})</li>
  </ul>

  <div class="form-group mb-0 mt-4">
    <form [formGroup]="myForm" (ngSubmit)="register(myForm)" novalidate>
      <div class="form-row">
        <div class="col-md-12">
        <div class="flex-container">
          <div *ngIf="!multiEdit" class="label-pair">
            <label for="docLegislationRadio">Legislation Type*</label>
            <div name="docLegislationRadio" class="radio-group">
              <div class="radio">
                <input type="radio" id="1996" value="1996" formControlName="docLegislationRadio" name="docLegislationRadio" (change)="changeLegislation($event)"/>
                <label for="1996" class="legislation-label">1996 Environmental Assessment Act</label>
              </div>
              <div class="radio">
                <input type="radio" id="2002" value="2002" formControlName="docLegislationRadio" name="docLegislationRadio" (change)="changeLegislation($event)"/>
                <label for="2002" class="legislation-label">2002 Environmental Assessment Act</label>
              </div>
              <div class="radio">
                <input type="radio" id="2018" value="2018" formControlName="docLegislationRadio" name="docLegislationRadio" (change)="changeLegislation($event)"/>
                <label for="2018" class="legislation-label">2018 Environmental Assessment Act</label>
              </div>
            </div>
          </div>
        </div></div>
      </div>
      <div *ngIf="multiEdit" class="form-row">
        <div class="col-md-12">
          <div class="alert alert-warning" role="alert">
            Leave the Document Date field <strong>BLANK</strong> unless you want to <strong>change the Document Date of ALL the selected documents.</strong> The same applies for the rest of the fields.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label *ngIf="!multiEdit" for="doctypesel">Document Type*</label>
          <label *ngIf="multiEdit" for="doctypesel">Document Type</label>

          <select [hidden]="!(this.legislationYear === '1996' || this.legislationYear === '2002')" [required]="!multiEdit"  class="form-control" formControlName="doctypesel">
            <option *ngFor="let type of filteredDoctypes2002" [ngValue]="type._id">{{type.name}}</option>
          </select>

          <select [hidden]="!(this.legislationYear === '2018')" [required]="!multiEdit"  class="form-control" formControlName="doctypesel">
            <option *ngFor="let type of filteredDoctypes2018" [ngValue]="type._id">{{type.name}}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label *ngIf="!multiEdit" for="authorsel">Author*</label>
          <label *ngIf="multiEdit" for="authorsel">Author</label>

          <select [hidden]="!(this.legislationYear === '1996' || this.legislationYear === '2002')" [required]="!multiEdit"  class="form-control" formControlName="authorsel">
            <option *ngFor="let author2002 of filteredAuthors2002" [ngValue]="author2002._id">{{author2002.name}}</option>
          </select>

          <select [hidden]="!(this.legislationYear === '2018')" [required]="!multiEdit"  class="form-control" formControlName="authorsel">
            <option *ngFor="let author2018 of filteredAuthors2018" [ngValue]="author2018._id">{{author2018.name}}</option>
          </select>

        </div>
        <div class="form-group col-md-4">
        <label *ngIf="!multiEdit" for="labelsel">Milestone*</label>
        <label *ngIf="multiEdit" for="labelsel">Milestone</label>

        <select [hidden]="!(this.legislationYear === '1996' || this.legislationYear === '2002')" [required]="!multiEdit"  class="form-control" formControlName="labelsel">
          <option *ngFor="let label of filteredLabels2002" [ngValue]="label._id">{{label.name}}</option>
        </select>

        <select [hidden]="!(this.legislationYear === '2018')" [required]="!multiEdit"  class="form-control" formControlName="labelsel">
          <option *ngFor="let label of filteredLabels2018" [ngValue]="label._id">{{label.name}}</option>
        </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label *ngIf="!multiEdit" for="projectphasesel">Project Phase*</label>
          <label *ngIf="multiEdit" for="projectphasesel">Project Phase</label>

          <select [hidden]="!(this.legislationYear === '1996' || this.legislationYear === '2002')" [required]="!multiEdit"  class="form-control" formControlName="projectphasesel">
            <option *ngFor="let projectPhase of filteredProjectPhases2002" [ngValue]="projectPhase._id">{{projectPhase.name}}</option>
          </select>

          <select [hidden]="!(this.legislationYear === '2018')" [required]="!multiEdit"  class="form-control" formControlName="projectphasesel">
            <option *ngFor="let projectPhase of filteredProjectPhases2018" [ngValue]="projectPhase._id">{{projectPhase.name}}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label *ngIf="!multiEdit" for="inputAddress">Document Date*</label>
          <label *ngIf="multiEdit" for="inputAddress">Document Date</label>
          <div class="input-group">
            <input [required]="!multiEdit" type="text" class="form-control" placeholder="yyyy-mm-dd" name="datePosted"
              formControlName="datePosted" ngbDatepicker #datePostedPicker="ngbDatepicker"/>
              <div class="input-group-append">
                <button class="btn btn-outline-secondary calendar" (click)="datePostedPicker.toggle()"
                type="button"></button>
              </div>
            </div>
        </div>
      </div>
      <div *ngIf="!multiEdit" class="form-row">
        <div class="form-group col-md-12">
          <label for="displayName">Document Name</label>
          <div *ngIf="docNameInvalid" class="alert alert-danger" role="alert">
            \ / | : * ? " < > are not accepted file name characters
          </div>
          <textarea class="form-control" id="displayName" name="displayName" rows="1" formControlName="displayName" (ngModelChange)="validateChars()"></textarea>
        </div>
      </div>
      <div *ngIf="!multiEdit" class="form-row">
        <div class="form-group col-md-12">
          <label for="inputDescription">Description</label>
          <textarea class="form-control" id="inputDescription" name="description" rows="1" formControlName="description"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="text-right" >
    <button class="btn btn-cancel" type="cancel" (click)="goBack()">Cancel</button>
    &nbsp;
    <button class="btn btn-primary mr-1" [disabled]="!myForm.valid || docNameInvalid || dateInvalid"  type="submit" (click)="save()">Save</button>
    &nbsp;
    <button class="btn btn-primary btn-publish" [disabled]="!myForm.valid || docNameInvalid || dateInvalid" type="publish" (click)="togglePublish()" *ngIf="!this.isPublished && !this.multiEdit">Save & Publish</button>
    <button class="btn btn-unpublish" [disabled]="!myForm.valid || docNameInvalid || dateInvalid" type="publish" (click)="togglePublish()" *ngIf="this.isPublished && !this.multiEdit">Save & Unpublish</button>
  </div>
</main>
