@import "src/assets/styles/components/details.scss";
@import "src/assets/styles/components/add-edit.scss";

section {
  + section {
    margin-top: 3rem;
  }
}

h1 {
  margin-bottom: 1.75rem;
}

.label-pair {
    width: 100%;
}

.badge-published{
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    letter-spacing: 0.5px;
    margin-left: 10px;
}

.btn-unpublish{
    background-color: white;
    color: #D8292F;
    border-color: #D8292F;
    border-width: 1px;
}

.btn-publish{
    background-color: #28a745;
    border-color: #28a745;
}

.btn-cancel{
    background-color: white;
    color: #007bff;
    border-color: #007bff;
    border-width: 1px;
}

.legislation-label {
    font-weight: 400;
}

.people {
  vertical-align: top;

  i {
    vertical-align: bottom;
  }

  .col {
    padding: 0;
    margin-bottom: 20px;
    vertical-align: top;

    @media screen and (min-width: 800px) {
      display: inline-block;
      width: 32%;
      margin-right: 1%;
    }
  }
}
