<nav class="action-container" aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item">
          <a [routerLink]="['/project-notifications']">All Project Notifications</a>
      </li>
      <li class="breadcrumb-item">
          <a *ngIf='currentProject' [routerLink]="['/pn', currentProject._id, 'details']">{{currentProject.name}}</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Documents</li>
  </ol>
</nav>

<div class="container-fluid-padding">
<h1>
  <div class="row">
    <div>Documents</div>
    <div class="ml-auto" ngbDropdown placement="bottom-right">
      <button class="btn btn-primary" id="actionDropdown" ngbDropdownToggle>Actions</button>
      <div class="dropdown-menu" aria-labelledby="actionDropdown" ngbDropdownMenu>
        <button (click)="selectAction('publish')" class="dropdown-item"
            [disabled]="!isEnabled('publish')" type="button" id="button-p">Publish</button>
        <button (click)="selectAction('unpublish')" class="dropdown-item"
            [disabled]="!isEnabled('unpublish')" type="button" id="button-u">Unpublish</button>
        <button (click)="selectAction('copyLink')" class="dropdown-item"
            [disabled]="!isEnabled('copyLink')" type="button" id="button-cl">Link</button>
        <button (click)="selectAction('download')" class="dropdown-item"
            [disabled]="!isEnabled('download')" type="button" id="button-dl">Download</button>
        <button (click)="selectAction('delete')" class="dropdown-item"
            [disabled]="!isEnabled('delete')" type="button" id="button-d">Delete</button>
        <a *ngIf='currentProject && tableParams.totalListItems < 20' class="upload-docs" [ngClass]="{'active': currentProject._id === 'activity'}"
            [routerLink]="['/pn', currentProject._id, 'project-notification-documents', 'upload']">
            <button class="dropdown-item" type="button" id="button-upl">
                Upload Document(s)
            </button>
        </a>
      </div>
    </div>
  </div>
</h1>
<div class="content-container">
    <div class="table-min-height mt-3">
      <app-table-template *ngIf="!loading && documentTableData && documentTableData.data.length"
          (checkboxChange)='checkChange($event)' [columns]="documentTableColumns" [data]="documentTableData"
          (onColumnSort)='setColumnSort($event)' (onSelectedRow)='updateSelectedRow($event)'
          (onPageNumUpdate)='getPaginatedDocs($event)' (selectAllClicked)="selectAction('selectAll')">
      </app-table-template>
    </div>
</div>

<div>
    <div class="spinner-container" *ngIf="loading">
        <div class="spinner-new rotating"></div>
    </div>
</div>
