.input-group-prepend {
	flex-wrap: wrap;

	button {
		margin: 0 10px 10px 0;
	}
}

textarea,
input[type="text"] {
  border-radius: 2px;
  box-shadow: none;
  appearance: none;
  border: 1px solid #ababab;
  font-size: 1rem;

  &:focus {
    box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
    border-color: #5091cd;
  }
}

.btn-search-help {
    padding: 6px 12px;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    transition: all ease-out 0.2s;
    cursor: pointer;

    .material-icons {
        font-size: 20px;
        margin-top: -3px;
        margin-right: 2px;
    }
}

.btn-num-items {
    margin-left: 0.5rem;
}

.btn-outline-secondary {
  color: #007bff;
  border-color: #007bff;

  i {
  	margin-right: 4px;
  	font-size: 20px;
  }

  &:disabled {
    border-color: #6c757d;
    color: #6c757d;
  }
}

.search-area {
  background-color: white;
  border: 1px solid lightgray;
}

.main-search-field {
  margin-left: 0;
  padding: 8px;
}

.show-advanced-search-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .btn {
   float: right;
   margin-right: 8px !important;
   width: 200px;
  }

  a {
    display: flex;
    text-decoration: none;

    i {
      color: #6c757d;
      justify-content: center;
    }
  }
}

.content-container {
  margin-top: 50px;
}

.advanced-search {
  position: relative;

  .project-filter {
    margin: 10px 93px 10px 15px;
  }

  .filter-border {
    border: solid 1px lightgray;
    padding: 15px;
    min-width: 155px;
  }

  .milestone-filters {
    margin-left: 8px;
  }

  .date-filters {
    margin-left: 147px;
  }

  .author-filters {
    margin-left: 331px;

    .filter-border {
      min-width: 230px;
    }
  }

  .type-filters {
    margin-left: 528px;
  }

  .projectPhase-filters {
    margin-left: 8px;
  }

  .sub-filter {
    margin-left: 0;
    margin-bottom: -15px;
  }

  .btn {
    margin: 8px 0 8px 8px;
  }

  .milestone-btn {
    width: 130px;
  }

  .date-btn {
    width: 175px;
  }

  .author-btn {
    width: 190px;
  }

  .calendar {
    margin: 0;
  }

  .date-range {
    margin-left: -15px;

    .form-control {
      z-index: 0 !important;
    }
  }

  .form-check label {
    padding-left: 0.25rem;
    font-size: 1rem;
  }

  .search-button {
    position: absolute;
    right: 8px;
    bottom: -8px;
  }
}

.results {
  color: black;
  margin-bottom: 15px;
}

.upload-docs {
  margin: 0 0 0 auto;
}

.btn-group-toggle > .btn {
  margin-bottom: 0;
  background: none;
  color: #13477b;
  border: 1px solid #858b99;
  font-weight: 600;

  &:hover {
    background: #fcb118;
  }

  &.active {
      background: #235383;
      color: #fff;
  }
}

.actions-container {
  display: flex;
  justify-content: space-between;

  .paging-content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.custom-tab-title {
  display: flex;
  align-items: center;
}

.custom-tab-title-tooltip {
  .tooltip-inner {
    min-width: 250px;
  }
}

.table-min-height {
    min-height: 130px;
}
