@import url("src/assets/styles/base/base.css");

tr:hover {
    cursor: pointer;
    background-color: #e2f1ff;
}

.btn-unpublish{
    background-color: white;
    color: #D8292F;
    border-color: #D8292F;
    border-width: 1px;
}

.btn-publish{
    background-color: #28a745;
    border-color: #28a745;
}
