<nav class="action-container" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a [routerLink]="['/projects']">All Projects</a>
    </li>
    <li class="breadcrumb-item">
      <a [routerLink]="['/p', currentProject._id]">{{currentProject.name}}</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      <a [routerLink]="['/p', currentProject._id, 'project-documents']">Documents</a>
    </li>
    <li class="breadcrumb-item">Upload Document(s)</li>
  </ol>
</nav>
<div class="container-fluid-padding">
  <div class="spinner-container" *ngIf="loading">
    <div class="spinner-new rotating"></div>
  </div>


  <div class="form-group mb-0">
    <form [formGroup]="myForm" (ngSubmit)="register(myForm)" novalidate>
        <div class="form-row">
          <div class="col-md-12">
            <div class="flex-container">
              <label for="docLegislationRadio">Legislation Type*</label>
              <div name="docLegislationRadio" class="radio-group">
                <div class="radio">
                  <input type="radio" id="1996" value="1996" formControlName="docLegislationRadio" name="docLegislationRadio" (change)="changeLegislation($event)"/>
                  <label for="1996" class="legislation-label">1996 Environmental Assessment Act</label>
                </div>
                <div class="radio">
                  <input type="radio" id="2002" value="2002" formControlName="docLegislationRadio" name="docLegislationRadio" (change)="changeLegislation($event)"/>
                  <label for="2002" class="legislation-label">2002 Environmental Assessment Act</label>
                </div>
                <div class="radio">
                  <input type="radio" id="2018" value="2018" formControlName="docLegislationRadio" name="docLegislationRadio" (change)="changeLegislation($event)"/>
                  <label for="2018" class="legislation-label">2018 Environmental Assessment Act</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="doctypesel">Document Type*</label>
          <select required [hidden]="!(this.legislationYear === '1996' || this.legislationYear === '2002')"  class="form-control" formControlName="doctypesel">
              <option *ngFor="let type of filteredDoctypes2002" [ngValue]="type._id">{{type.name}}</option>
            </select>

            <select required [hidden]="!(this.legislationYear === '2018')" class="form-control" formControlName="doctypesel">
              <option *ngFor="let type of filteredDoctypes2018" [ngValue]="type._id">{{type.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-4">
          <label for="authorsel">Author*</label>
          <select required [hidden]="!(this.legislationYear === '1996' || this.legislationYear === '2002')" class="form-control" formControlName="authorsel">
            <option *ngFor="let author2002 of filteredAuthors2002" [ngValue]="author2002._id">{{author2002.name}}</option>
          </select>

          <select required [hidden]="!(this.legislationYear === '2018')" class="form-control" formControlName="authorsel">
            <option *ngFor="let author2018 of filteredAuthors2018" [ngValue]="author2018._id">{{author2018.name}}</option>
          </select>
        </div>
        <div class="form-group col-md-4">
          <label for="labelsel">Milestone*</label>
          <select required [hidden]="!(this.legislationYear === '1996' || this.legislationYear === '2002')" class="form-control" formControlName="labelsel">
            <option *ngFor="let label of filteredLabels2002" [ngValue]="label._id">{{label.name}}</option>
          </select>

          <select required [hidden]="!(this.legislationYear === '2018')" class="form-control" formControlName="labelsel">
            <option *ngFor="let label of filteredLabels2018" [ngValue]="label._id">{{label.name}}</option>
          </select>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
            <label for="projectphasesel">Project Phase*</label>
            <select required [hidden]="!(this.legislationYear === '1996' || this.legislationYear === '2002')" class="form-control" formControlName="projectphasesel">
              <option *ngFor="let projectPhase of filteredProjectPhases2002" [ngValue]="projectPhase._id">{{projectPhase.name}}</option>
            </select>

            <select required [hidden]="!(this.legislationYear === '2018')" class="form-control" formControlName="projectphasesel">
              <option *ngFor="let projectPhase of filteredProjectPhases2018" [ngValue]="projectPhase._id">{{projectPhase.name}}</option>
            </select>
        </div>
        <div class="form-group col-md-4">
          <label for="inputAddress">Document Date*</label>
          <div class="input-group">
            <input required type="text" class="form-control" placeholder="yyyy-mm-dd" name="docDate"
              formControlName="datePosted" ngbDatepicker #datePostedPicker="ngbDatepicker" />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="datePostedPicker.toggle()"
                type="button"></button>
            </div>
          </div>
        </div>
        <div class="form-group col-md-4">
          <label for="inputAddress">Upload Date*</label>
          <div class="input-group">
            <input required type="text" class="form-control" placeholder="yyyy-mm-dd" name="dateUploaded"
              formControlName="dateUploaded" ngbDatepicker #dateUploadedPicker="ngbDatepicker" />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="dateUploadedPicker.toggle()"
                type="button"></button>
            </div>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label *ngIf="documents && documents.length > 1" for="displayName">Document Name</label>
          <label *ngIf="!documents || documents.length < 2" for="displayName">Document Name*</label>
          <div *ngIf="docNameInvalid" class="alert alert-danger" role="alert">
            \ / | : * ? " < > are not accepted file name characters
          </div>
          <div>
              <textarea *ngIf="documents && documents.length > 1" disabled class="form-control" id="displayName" name="displayName" rows="1" formControlName="displayName"></textarea>
              <textarea *ngIf="!documents || documents.length < 2" class="form-control" id="displayName" name="displayName" rows="1" formControlName="displayName" (ngModelChange)="validateChars()"></textarea>
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="inputDescription">Description</label>
          <textarea class="form-control" id="inputDescription" name="description" rows="1"
            formControlName="description"></textarea>
        </div>
      </div>
    </form>
  </div>

  <div class="form-group mb-0">
    <app-file-upload [maxFiles]="50" [maxSize]="3000" [showInfo]="false" [showList]="false" [files]="projectFiles"
      (filesChange)="addDocuments($event); projectFiles = []"></app-file-upload>
    <br>
    <ul class="doc-list mb-3" *ngIf="documents?.length > 0">
      <li *ngFor="let doc of documents">
        <span class="cell icon">
          <i class="material-icons">insert_drive_file</i>
        </span>
        <span class="cell name" [title]="doc.displayName || ''">
          <span class="cell__txt-content">{{doc.documentFileName}}</span>
        </span>
        <span class="cell actions">
          <button class="btn btn-icon" type="button" title="Delete this document" (click)="deleteDocument(doc)">
            <i class="material-icons">delete</i>
          </button>
        </span>
      </li>
    </ul>
  </div>
  <div class="text-right" >
    <button class="btn btn-cancel" type="cancel" (click)="goBack()">Cancel</button>
    &nbsp;
    <button class="btn btn-primary mr-1" [disabled]="!docNameExists() || !myForm.valid || docNameInvalid || documents?.length === 0"  type="submit" (click)="uploadDocuments()">Upload</button>
    &nbsp;
    <!-- <button class="btn btn-primary btn-publish" [disabled]="!myForm.valid || docNameInvalid || documents?.length === 0 " type="publish" (click)="uploadAndPublish()" >Upload & Publish</button> -->
  </div>
</div>
