<tr (click)="goToItem(item)"
    *ngFor="let item of items | paginate: { id: 'table-template-pagination', itemsPerPage: paginationData.pageSize, currentPage: paginationData.currentPage, totalItems: paginationData.totalListItems }"
    class="clickable-row">
    <td scope="row" data-label="Name" class="col-2">{{item.name || '-'}}</td>
    <td scope="row" data-label="Proponent" class="col-3">{{item.proponentName || '-'}}</td>
    <td scope="row" data-label="Type" class="col-2">{{item.type || '-'}}</td>
    <td scope="row" data-label="Type" class="col-2">{{item.subType || '-'}}</td>
    <td scope="row" data-label="Region" class="col-2">{{item.region || '-'}}</td>
    <td scope="row" data-label="Decision" class="col-2">{{item.notificationDecision || '-'}}</td>
</tr>