<tr *ngFor="let item of items">
  <td data-label="Select" (click)="selectItem(item)" scope="row" class="col-1">
    <input type="checkbox" aria-label="Checkbox for row item" [(ngModel)]='item.checkbox'>
  </td>
  <td data-label="Name" scope="row" class="col-2">{{item.name}}</td>
  <td data-label="Email" scope="row" class="col-2">{{item.email}}</td>
  <td data-label="Live Near"
      scope="row"
      data-toggle="tooltip" data-placement="bottom" title="{{item.liveNear}}"
      class="col-1">
      <div class="badge badge-pill badge-info"
           [ngClass]="{'bg-success': item.liveNear !== '', 'bg-danger': item.liveNear === ''}">{{item.liveNear !== ''}}
      </div>
  </td>
  <td data-label="KnowledgeOf"
      scope="row"
      data-toggle="tooltip" data-placement="bottom" title="{{item.memberOf}}"
      class="col-1">
      <div class="badge badge-pill badge-info"
           [ngClass]="{'bg-success': item.memberOf !== '', 'bg-danger': item.memberOf === ''}">{{item.memberOf !== ''}}
      </div>
  </td>
  <td data-label="MemberOf"
      scope="row"
      data-toggle="tooltip" data-placement="bottom" title="{{item.knowledgeOf}}"
      class="col-1">
      <div class="badge badge-pill badge-info"
           [ngClass]="{'bg-success': item.knowledgeOf !== '', 'bg-danger': item.knowledgeOf === ''}">{{item.knowledgeOf !== ''}}
      </div>
  </td>
  <td data-label="MemberOf"
      scope="row"
      data-toggle="tooltip" data-placement="bottom" title="{{item.additionalNotes}}"
      class="col-4">
      <div class="badge badge-pill badge-info"
           [ngClass]="{'bg-success': item.additionalNotes !== '', 'bg-danger': item.additionalNotes === ''}">{{item.additionalNotes !== ''}}
      </div>
  </td>
</tr>