<div class="action-container">
    <ol class="breadcrumb" aria-label="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">All Projects</li>
    </ol>
    <div>
        <button class="btn btn-primary" (click)="addProject()">
            <i class="material-icons">add</i>
            Create New project
        </button>
    </div>
</div>
<div class="search-container">
    <div class="fb-container bg-faded">
        <section class="container-fluid-padding" id="anchor-point">
            <div class="spinner-container" *ngIf="loading">
                <div class="spinner-new rotating"></div>
            </div>
            <main *ngIf="!loading">
                <section>
                    <h2>Environmental Assessments in British Columbia</h2>
                    <p class="tab-intro">Use the list below to navigate to individual Projects. Click on any project to
                        go
                        directly to its details page.</p>

                    <form #f="ngForm" class="search-form ui form" (ngSubmit)="onSubmit()">
                        <div class="search-area">
                            <div class="input-group main-search-field">
                                <input class="form-control" type="text" name="keywordInput"
                                    placeholder="Enter keywords to search..." id="keywordInput"
                                    [(ngModel)]="tableParams.keywords" autofocus />
                                <div *ngIf="!showAdvancedSearch || !isShowingFilter()" class="input-group-append">
                                    <!-- prevent searching if input is empty or we're already searching -->
                                    <button class="btn btn-primary" type="submit">
                                        <span>Search</span>
                                    </button>
                                </div>
                            </div>
                            <div class="advanced-search">
                                <div class="row">
                                    <div *ngIf="showAdvancedSearch" class="col-md-9">
                                        <button type="button" (click)="toggleFilter('type');" [ngClass]="{'btn': true, 'type-btn': true,
                        'btn-dark': showFilters.type,
                        'btn-secondary': !showFilters.type && numFilters.type > 0,
                        'btn-outline-dark': !showFilters.type && numFilters.type == 0}">
                                            Project Type<span
                                                *ngIf="numFilters.type > 0 && !showFilters.type">&nbsp;({{ numFilters.type }})</span>
                                        </button>
                                        <button type="button" (click)="toggleFilter('eacDecision');" [ngClass]="{'btn': true, 'decision-btn': true,
                        'btn-dark': showFilters.eacDecision,
                        'btn-secondary': !showFilters.eacDecision && numFilters.eacDecision > 0,
                        'btn-outline-dark': !showFilters.eacDecision && numFilters.eacDecision == 0}">
                                            EA Decision<span
                                                *ngIf="numFilters.eacDecision > 0 && !showFilters.eacDecision">&nbsp;({{ numFilters.eacDecision }})</span>
                                        </button>
                                        <button type="button" (click)="toggleFilter('pcp');" [ngClass]="{'btn': true, 'pcp-btn': true,
                        'btn-dark': showFilters.pcp,
                        'btn-secondary': !showFilters.pcp && numFilters.pcp > 0,
                        'btn-outline-dark': !showFilters.pcp && numFilters.pcp == 0}">
                                            Public Comment Period<span
                                                *ngIf="numFilters.pcp > 0 && !showFilters.pcp">&nbsp;({{ numFilters.pcp }})</span>
                                        </button>
                                        <button type="button" (click)="toggleFilter('more');" [ngClass]="{'btn': true, 'more-btn': true,
                        'btn-dark': showFilters.more,
                        'btn-secondary': !showFilters.more && numFilters.more > 0,
                        'btn-outline-dark': !showFilters.more && numFilters.more == 0}">
                                            More Filters&hellip;<span
                                                *ngIf="numFilters.more > 0 && !showFilters.more">&nbsp;({{ numFilters.more }})</span>
                                        </button>
                                        <button class="btn btn-outline-dark" type="button" (click)="clearAll();">Clear
                                            All</button>
                                    </div>
                                    <div
                                        [ngClass]="{'show-advanced-search-button': true, 'col-md-3': showAdvancedSearch, 'col-md-12': !showAdvancedSearch}">
                                        <button class="btn btn-secondary" type="button"
                                            (click)="showAdvancedSearch = !showAdvancedSearch;">
                                            <span *ngIf="showAdvancedSearch">Hide Advanced Search</span>
                                            <span *ngIf="!showAdvancedSearch">Show Advanced Search</span>
                                        </button>
                                    </div>
                                </div>
                                <div *ngIf="showAdvancedSearch && showFilters.type"
                                    class="type-filters project-filter row">
                                    <div class="col-md-6 filter-border">
                                        <div class="col-md-12">
                                            <div class="row">
                                              <b>Project Type</b>
                                            </div>
                                          </div>
                                          <div class="row">
                                            <div class="col-md-12">
                                              <ng-select
                                                id="type"
                                                name="type"
                                                multiple="true"
                                                bindLabel="name"
                                                placeholder="Type Project Type"
                                                [items]="projectTypes"
                                                [closeOnSelect]="false"
                                                [(ngModel)]="filterForUI.type"
                                                [compareWith]="filterCompareWith"
                                              >
                                              </ng-select>
                                            </div>
                                          </div>
                                    </div>
                                </div>
                                <div *ngIf="showAdvancedSearch && showFilters.eacDecision"
                                    class="decision-filters project-filter row">
                                    <div class="col-md-8 filter-border">
                                        <div class="col-md-12">
                                            <div class="row">
                                              <b>EA Decision</b>
                                            </div>
                                            <div class="row">
                                              <div class="form-group">
                                                <ng-select
                                                  id="eacDecision"
                                                  name="eacDecision"
                                                  multiple="true"
                                                  groupBy="legislation"
                                                  bindLabel="name"
                                                  placeholder="Type EA Decision"
                                                  [items]="eacDecisions"
                                                  [closeOnSelect]="false"
                                                  [markFirst]="false"
                                                  [(ngModel)]="filterForUI.eacDecision"
                                                  [compareWith]="filterCompareWith"
                                                >
                                                    <ng-template ng-label-tmp let-item="item">
                                                        <span class="ng-value-icon left" (click)="clearSelectedItem('eacDecision', item)" aria-hidden="true">×</span>
                                                        <span class="ng-value-label">{{item.name}} ({{item.legislation}})</span>
                                                    </ng-template>
                                                    <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                                        {{item.legislation}} Act Terms
                                                    </ng-template>
                                                </ng-select>
                                              </div>
                                            </div>
                                          </div>
                                        <div>
                                            <div class="row date">
                                                <b>Decision Date</b>
                                            </div>
                                            <div class="row date-range">
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="yyyy-mm-dd"
                                                            name="decisionDateStart"
                                                            [(ngModel)]="filterForUI.decisionDateStart" ngbDatepicker
                                                            #decisionDateStartPicker="ngbDatepicker">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary calendar"
                                                                (click)="decisionDateStartPicker.toggle()"
                                                                type="button">
                                                                <i class="material-icons">date_range</i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control" placeholder="yyyy-mm-dd"
                                                            name="decisionDateEnd"
                                                            [(ngModel)]="filterForUI.decisionDateEnd" ngbDatepicker
                                                            #decisionDateEndPicker="ngbDatepicker">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-outline-secondary calendar"
                                                                (click)="decisionDateEndPicker.toggle()" type="button">
                                                                <i class="material-icons">date_range</i>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="showAdvancedSearch && showFilters.pcp"
                                    class="pcp-filters project-filter row">
                                    <div class="col-md-3 filter-border">
                                        <div class="col-md-12">
                                          <div class="row">
                                            <b>Public Comment Period</b>
                                          </div>
                                        </div>
                                        <div class="row">
                                          <div class="col-md-12">
                                            <ng-select
                                              id="pcp"
                                              name="pcp"
                                              multiple="true"
                                              bindLabel="name"
                                              placeholder="Type Comment Period"
                                              [items]="commentPeriods"
                                              [closeOnSelect]="false"
                                              [(ngModel)]="filterForUI.pcp"
                                              [compareWith]="filterCompareWith"
                                            >
                                            </ng-select>
                                          </div>
                                        </div>
                                      </div>
                                </div>
                                <div *ngIf="showAdvancedSearch && showFilters.more"
                                    class="more-filters project-filter row">
                                    <div class="col-md-11 filter-border">
                                        <div class="row sub-filters">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <b>Proponent</b>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group">
                                                        <ng-select
                                                            id="proponent"
                                                            name="proponent"
                                                            multiple="true"
                                                            bindLabel="name"
                                                            placeholder="Type Proponent Name"
                                                            [items]="proponents"
                                                            [closeOnSelect]="false"
                                                            [(ngModel)]="filterForUI.proponent"
                                                            [compareWith]="filterCompareWith"
                                                        >
                                                        </ng-select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <hr />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <b>Region</b>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group">
                                                        <ng-select
                                                            id="region"
                                                            name="region"
                                                            multiple="true"
                                                            bindLabel="name"
                                                            placeholder="Type Region Name"
                                                            [items]="regions"
                                                            [closeOnSelect]="false"
                                                            [(ngModel)]="filterForUI.region"
                                                            [compareWith]="filterCompareWith"
                                                        >
                                                        </ng-select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <hr />
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <b>IAAC Involvement</b>
                                                </div>
                                                <div class="row">
                                                    <div class="form-group">
                                                        <ng-select
                                                            id="ceaaInvolvement"
                                                            name="ceaaInvolvement"
                                                            groupBy="legislation"
                                                            multiple="true"
                                                            bindLabel="name"
                                                            placeholder="Type Involvement"
                                                            [items]="ceaaInvolvements"
                                                            [closeOnSelect]="false"
                                                            [markFirst]="false"
                                                            [(ngModel)]="filterForUI.CEAAInvolvement"
                                                            [compareWith]="filterCompareWith"
                                                        >
                                                            <ng-template ng-label-tmp let-item="item">
                                                                <span class="ng-value-icon left" (click)="clearSelectedItem('CEAAInvolvement', item)" aria-hidden="true">×</span>
                                                                <span class="ng-value-label">{{item.name}} ({{item.legislation}})</span>
                                                            </ng-template>
                                                            <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                                                {{item.legislation}} Act Terms
                                                            </ng-template>
                                                        </ng-select>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                  <div class="col-md-12">
                                                      <hr />
                                                  </div>
                                              </div>
                                              <div class="row">
                                                  <b>Project Phase</b>
                                              </div>
                                              <div class="row">
                                                  <div class="form-group">
                                                      <ng-select
                                                          id="projectPhase"
                                                          name="projectPhase"
                                                          multiple="true"
                                                          groupBy="legislation"
                                                          bindLabel="name"
                                                          placeholder="Type Project Phase"
                                                          [items]="projectPhases"
                                                          [closeOnSelect]="false"
                                                          [markFirst]="false"
                                                          [(ngModel)]="filterForUI.projectPhase"
                                                      >
                                                          <ng-template ng-label-tmp let-item="item">
                                                              <span class="ng-value-icon left" (click)="clearSelectedItem('projectPhase', item)" aria-hidden="true">×</span>
                                                              <span class="ng-value-label">{{item.name}} ({{item.legislation}})</span>
                                                          </ng-template>
                                                          <ng-template ng-optgroup-tmp let-item="item" let-index="index">
                                                              {{item.legislation}} Act Terms
                                                          </ng-template>
                                                      </ng-select>
                                                  </div>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button *ngIf="showAdvancedSearch && isShowingFilter()"
                                    class="btn btn-primary search-button" type="submit">
                                    <span>Search</span>
                                </button>
                            </div>
                        </div>
                        <div>
                            <div class="row align-items-end">
                                <div class="col justify-content-start results ml-1 mb-1">
                                    <p class="justify-content-start align-text-bottom" align="left"
                                        *ngIf="!loading && tableParams.totalListItems === 0">
                                        No result<span *ngIf="count !== 1">s</span> found for "{{tableParams.keywords}}"
                                    </p>
                                    <div class="justify-content-start align-text-bottom ml-1 mb-1" align="left"
                                        *ngIf="!loading && tableParams.totalListItems > 0">
                                        {{tableParams.totalListItems}} result<span
                                            *ngIf="tableParams.totalListItems != 1">s
                                            found</span>
                                    </div>
                                </div>
                                <div class="col mb-2">
                                    <div *ngIf="!loading && this.tableParams.totalListItems > 10">
                                        <p class="text-right m-2"><b>Show Items Per Page:</b></p>
                                        <div class="btn-toolbar mb-2" class="text-right" role="toolbar"
                                            aria-label="Toolbar with button groups">
                                            <div class="btn-group-toggle mr-2" role="group" aria-label="First group">
                                                <a href="javascript:void(0);" role="button" class="btn btn-primary mr-1"
                                                    (click)="tableParams.pageSize=25; onSubmit();"
                                                    aria-pressed="tableParams.pageSize === 25"
                                                    [ngClass]="{'active': this.tableParams.pageSize === 25}">25</a>
                                                <!-- &nbsp; -->
                                                <a href="javascript:void(0);" role="button" class="btn btn-primary mr-1"
                                                    (click)="tableParams.pageSize=50; onSubmit();"
                                                    aria-pressed="tableParams.pageSize === 50"
                                                    [ngClass]="{'active': this.tableParams.pageSize === 50}">50</a>
                                                <!-- &nbsp; -->
                                                <a href="javascript:void(0);" role="button" class="btn btn-primary mr-1"
                                                    (click)="tableParams.pageSize=100; onSubmit();"
                                                    aria-pressed="tableParams.pageSize === 100"
                                                    [ngClass]="{'active': this.tableParams.pageSize === 100}">100</a>
                                                <!-- &nbsp; -->
                                                <a href="javascript:void(0);" role="button" class="btn btn-primary"
                                                    (click)="tableParams.pageSize=this.tableParams.totalListItems; onSubmit();"
                                                    aria-pressed="tableParams.pageSize === this.tableParams.totalListItems"
                                                    [ngClass]="{'active': this.tableParams.pageSize === this.tableParams.totalListItems}">Show
                                                    All</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <!-- <p>Total Projects: {{tableParams.totalListItems}}</p> -->
                    <div *ngIf="projects.length > 0">
                        <app-table-template [columns]="projectTableColumns" [data]="projectTableData"
                            (onColumnSort)='setColumnSort($event)' (onPageNumUpdate)='getPaginatedProjects($event)'>
                        </app-table-template>
                    </div>
                    <div class="col mb-2">
                        <div *ngIf="!loading && this.tableParams.pageSize >= 50">
                            <p class="text-right m-2"><b>Show Items Per Page:</b></p>
                            <div class="btn-toolbar mb-2" class="text-right" role="toolbar"
                                aria-label="Toolbar with button groups">
                                <div class="btn-group-toggle mr-2" role="group" aria-label="First group">
                                    <a href="javascript:void(0);" role="button" class="btn btn-primary mr-1"
                                        (click)="tableParams.pageSize=25; onSubmit();"
                                        aria-pressed="tableParams.pageSize === 25"
                                        [ngClass]="{'active': this.tableParams.pageSize === 25}">25</a>
                                    <a href="javascript:void(0);" role="button" class="btn btn-primar mr-1"
                                        (click)="tableParams.pageSize=50; onSubmit();"
                                        aria-pressed="tableParams.pageSize === 50"
                                        [ngClass]="{'active': this.tableParams.pageSize === 50}">50</a>
                                    <a href="javascript:void(0);" role="button" class="btn btn-primary mr-1"
                                        (click)="tableParams.pageSize=100; onSubmit();"
                                        aria-pressed="tableParams.pageSize === 100"
                                        [ngClass]="{'active': this.tableParams.pageSize === 100}">100</a>
                                    <a href="javascript:void(0);" role="button" class="btn btn-primary"
                                        (click)="tableParams.pageSize=this.tableParams.totalListItems; onSubmit();"
                                        aria-pressed="tableParams.pageSize === this.tableParams.totalListItems"
                                        [ngClass]="{'active': this.tableParams.pageSize === this.tableParams.totalListItems}">Show
                                        All</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </main>
        </section>
    </div>
</div>
