name: Deploy to Prod

on:
  workflow_dispatch:

permissions: write-all

env:
  OPENSHIFT_NAMESPACE: 6cdc9e-tools
  IMAGE_NAME: eagle-admin

jobs:
  build:
    name: Build and Push Image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Get Short SHA
        id: short-sha
        run: echo "SHA=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

      - name: Login to OpenShift registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.OPENSHIFT_REPOSITORY }}
          username: ${{ secrets.OPENSHIFT_REPOSITORY_USERNAME }}
          password: ${{ secrets.OPENSHIFT_REPOSITORY_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.OPENSHIFT_REPOSITORY }}/${{ env.OPENSHIFT_NAMESPACE }}/${{ env.IMAGE_NAME }}:prod
            ${{ secrets.OPENSHIFT_REPOSITORY }}/${{ env.OPENSHIFT_NAMESPACE }}/${{ env.IMAGE_NAME }}:${{ steps.short-sha.outputs.SHA }}
          labels: |
            commit.id=${{ github.sha }}
            commit.timestamp=${{ github.event.head_commit.timestamp }}
